<%= form_for(objetivo_semanal, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if objetivo_semanal.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h5><b><%= fa_icon "exclamation-circle", text: "Atención! Ocurrieron los siguientes errores" %></b></h5>
      <ul>
      <% objetivo_semanal.errors.messages.values.each do |msg| %>
        <%msg.each do  |m| %>
          <li><%= m %></li>
        <%end %>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"  align="center" >Nuevo Objetivo semanal</h3>
</div>
</br>



   <div class="form-group">
    <label class="col-sm-2 control-label">Objetivo Mensual</label>  
      <div class="col-sm-3">
        <div class="form-group">
      <%= select_tag 'objetivo_mensual_id', options_from_collection_for_select(ObjetivoMensual.all, :id , :descripcion, ""), :id => "select_objetivo_mensual", :class => "form-alta-vendedor text-field form-control" %>
    </div>
  </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label">Fecha Creación</label>  
      <div class="col-sm-3">
        <div class="form-group">
        <%= f.text_field :fecha_creacion, :id => "datepicker1", :placeholder => "dd/mm/aaaa", :class => "form-fecha-nac form-control"%>
         </div>
    </div>
    </div>
  </br>

  <div class="form-group">
    <label class="col-sm-2 control-label">Cantidad propuesta</label>  
      <div class="col-sm-3">
        <div class="form-group">
        <%= f.text_field :cantidad_propuesta, class: "form-alta-vendedor text-field form-control" %>
         </div>
    </div>
    </div>
  </br>
  <div class="form-group">
    <label class="col-sm-2 control-label">Número semana</label>  
      <div class="col-sm-3">
        <div class="form-group">
          <%= f.text_field :numero_semana, class: "form-alta-vendedor text-field form-control" %>
            </div>
        </div>
    </div>
  </br>

<div class="form-group">
    <label class="col-sm-2 control-label">Vendedor</label>  
      <div class="col-sm-3">
      <div class="form-group">
      <%= select_tag 'vendedor_id', options_from_collection_for_select(Vendedor.all, :id , :numero, ""), :id => "select_vendedor", :class => "form-alta-vendedor text-field form-control" %>
           </div>
    </div>
    </div>
  </br>

<div class="form-group">
    <label class="col-sm-2 control-label">Usuario</label>  
      <div class="col-sm-3">
      <div class="form-group">
      <%= select_tag 'user_id', options_from_collection_for_select(User.all, :id , :email, ""), :id => "select_user", :class => "form-alta-vendedor text-field form-control" %>
         </div>
    </div>
    </div>
  </br>

<div class="form-group">
    <label class="col-sm-2 control-label">Punto de venta</label>  
      <div class="col-sm-3">
      <div class="form-group">
      <%= select_tag 'punto_venta_id', options_from_collection_for_select(PuntoVentum.all, :id , :nombre, ""), :id => "select_punto_venta", :class => "form-alta-vendedor text-field form-control" %>
         </div>
    </div>
    </div>
  </br>


<div class="form-group">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <%= f.submit class: "btn btn-primary" ,value: "Guardar"%>
      <% end %>
    </div>  
    </div>   
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
     <%= link_to objetivo_semanals_path, class: 'btn btn-primary' do %>
     <%= fa_icon "plus", text: "Atras" %>
     <% end %>
     </div>
  </div>
  </div>
  </div>



<script type="text/javascript">
        
    $("#datepicker1").datepicker({
    format: 'dd/mm/yyyy',
    dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
    changeYear: true,
    changeMonth: true,
    yearRange: "1910:<%= Date.today.year + 10 %>", 
    monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
    monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
    navigationAsDateFormat: true,
    nextText: "Sig", 
    prevText: "Ant", 
    
      });

</script>

