<div class="page-header">
  <%= link_to objetivo_semanals_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_objetivo_semanal_path(@objetivo_semanal), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Ver Objetivo Semanal</h4>
</div>

<p>
  <strong>Fecha:</strong>
  <%= @objetivo_semanal.fecha_creacion %>
</p>

<p>
  <strong>Tipo Objetivo Semanal:</strong>
  <%= @objetivo_semanal.tipo_objetivo.descripcion %>
</p>

<p>
  <strong>Cantidad Propuesta:</strong>
  <%= @objetivo_semanal.cantidad_propuesta %>
</p>

<p>
  <strong>Número de semana:</strong>
  <%= @objetivo_semanal.numero_semana %>
</p>

<p>
  <strong>Vendedor:</strong>
  <% if @objetivo_semanal.punto_ventum == nil %>
  <%= @objetivo_semanal.vendedor.numero %>
  <% end %>
</p>

<p>
  <strong>Punto de venta:</strong>
  <% if @objetivo_semanal.vendedor == nil %>
  <%=  @objetivo_semanal.punto_ventum.nombre %>
  <% end %>
</p>