<div class="page-header">
  <%= link_to objetivo_semanals_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_objetivo_semanal_path(@objetivo_semanal), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Ver Objetivo Semanal</h4>
</div>

<p>
  <strong>Fecha:</strong>
  <%= @objetivo_semanal.objetivo_mensual.to_s %>
</p>

<p>
  <strong>Cantidad Propuesta:</strong>
  <%= @objetivo_semanal.cantidad_propuesta %>
</p>

<p>
  <strong>Número de semana:</strong>
  <%= @objetivo_semanal.numero_semana %>
</p>

<p>
  <strong>User:</strong>
  <%= @objetivo_semanal.user.to_s %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @objetivo_semanal.vendedor.to_s %>
</p>

<p>
  <strong>Punto de venta:</strong>
  <%= @objetivo_semanal.punto_ventum.to_s %>
</p>