<%= form_for(objetivo_mensual, :html => { :class => "form-horizontal" }) do |f| %>
  <% if objetivo_mensual.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>
      <ul>
      <% @objetivo_mensual.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <label class="col-sm-2 control-label">Tipo de objetivo</label>  
    <div class="col-sm-10">
     <%= f.collection_select(:tipo_objetivo_id, TipoObjetivo.all.order(:descripcion), :id, :descripcion, {:prompt => true},:style=>"width:50%" , :class => "form-control") %>
      </div>
  </div>
  </br>
  <div class="field">
    <%= f.label :cantidad_propuesta %>
    <%= f.number_field :cantidad_propuesta %>
  </div>
   </br>
  <div class="field">
    <%= f.label :mes %>
    <%= f.select :mes, ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Noviembre', 'Diciembre'] %>
  </div>
  </br>
  <div class="field">
    <%= f.label :anio %>
    <%= f.select :anio, ['2018', '2017', '2016', '2015', '2014', '2013', '2012']%>
  </div>
  </br>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>
  </br>
  <div class="field">
    <%= f.label :vendedor_id %>
     <%= f.collection_select(:vendedor_id, Vendedor.all.order(:numero), :id, :numero, {:prompt => true},:style=>"width:50%") %>
  </div>
  </br>
  <div class="field">
    <%= f.label :punto_venta_id %>
    <%= f.collection_select(:punto_venta_id, PuntoVentum.all.order(:nombre), :id, :nombre, {:prompt => true},:style=>"width:50%") %> 
  </div>
  </br>
  <div class="form-group">
    <%= f.label :descripcion, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :descripcion, :class => "form-control" %>
    </div>
  </div>
  </br>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary", :value => "Guardar"%>
  </div>
<% end %>

