
<%= form_for(objetivo_mensual, :html => { :class => "form-horizontal" }) do |f| %>
  <% if objetivo_mensual.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>
      <ul>
      <% @objetivo_mensual.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"  align="center" >Nuevo Objetivo Mensual</h3>
  </div>
  <div class="panel-body">
   <div class="form-group">
  <label class="col-sm-2 control-label">Tipo de objetivo</label>  
    <div class="col-sm-10">
     <%= f.collection_select(:tipo_objetivo_id, TipoObjetivo.all.order(:descripcion), :id, :descripcion, {:prompt => true},:style=>"width:50%" , :class => "form-control") %>
      </div>
  </div>
  </br>
  
  <div class="form-group">
  <label class="col-sm-2 control-label">Cantidad Objetivo</label>  
    <div class="col-sm-10">
    <%= f.number_field :cantidad_propuesta %>
   </div>
  </div>
   </br>

  <div class="form-group">
    <label class="col-sm-2 control-label">Mes de objetivo</label>
    <div class="col-sm-10"> 
    <%= f.select :mes, ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Noviembre', 'Diciembre'] %>
   </div>
  </div>
  </br>

  <div class="form-group">
    <label class="col-sm-2 control-label">Año de objetivo</label>
    <div class="col-sm-10"> 
    <%= f.select :anio, ['2018', '2017', '2016', '2015', '2014', '2013', '2012']%>
    </div>
  </div>
  </br>

  <div class="form-group">
    <label class="col-sm-2 control-label">Usuario</label>
    <div class="col-sm-10"> 
    <%= f.text_field :user_id %>
  </div>
  </div>
  </br>

  <div class="form-group">
    <label class="col-sm-2 control-label">Vendedor asignado al objetivo</label>
    <div class="col-sm-10"> 
     <%= f.collection_select(:vendedor_id, Vendedor.all.order(:numero), :id, :numero, {:prompt => true},:style=>"width:50%") %>
    </div>
  </div>
  </br>

  <div class="form-group">
    <label class="col-sm-2 control-label">Punto de Venta del objetivo</label>
    <div class="col-sm-10"> 
    <%= f.collection_select(:punto_venta_id, PuntoVentum.all.order(:nombre), :id, :nombre, {:prompt => true},:style=>"width:50%") %> 
  </div>
  </div>
  </br>

 <div class="form-group">
    <label class="col-sm-2 control-label">Descripción del objetivo</label>
    <div class="col-sm-10">
      <%= f.text_field :descripcion, :class => "form-control" ,:style=>"width:50%"%>
    </div>
  </div>
  
  <%= link_to objetivo_mensuals_path, class: 'btn btn-primary' do %>
    <%= fa_icon "plus", text: "Atras" %>
  <% end %>
  <% end %>
</div>


