
<%= form_for(objetivo_mensual, :html => { :class => "form-horizontal" }) do |f| %>
  <% if objetivo_mensual.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>
      <ul>
      <% @objetivo_mensual.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"  align="center" >Objetivo Mensual</h3>
    </div>
    <div class="panel-body">
      <div id= "tipo" class="form-group">
        <label class="col-sm-2 control-label">Tipo de objetivo</label>  
        <div class="col-sm-10">
          <%= f.collection_select(:tipo_objetivo_id, TipoObjetivo.where.not(:periodo => 'S'), :id, :descripcion, {:prompt => "Seleccione un Tipo de objetivo"},:style=>"width:50%" , :class => "form-control", :id =>"select_tipo") %>
        </div>
      </div>
      </br>
  
      <div class="form-group">
        <label class="col-sm-2 control-label">Cantidad Objetivo</label>  
        <div class="col-sm-2">
          <%= f.number_field :cantidad_propuesta, :class => "form-control" %>
        </div>
      </div>
      </br>

      <div id="csi" class="form-group" hidden>
        <label class="col-sm-2 control-label">Cantidad de CSI Real</label>  
        <div class="col-sm-2">
          <%= f.number_field :csi_real, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Mes de objetivo</label>
        <div class="col-sm-10"> 
          <%= select_month(Date.today, field_name: 'mes', prompt: "Seleccione mes") %>
        </div>
      </div>
      </br>

      <div class="form-group">
        <label class="col-sm-2 control-label">Año de objetivo</label>
        <div class="col-sm-10">     
          <%= select_year(Date.today, field_name: 'anio', start_year: Date.today.year, end_year: 1970, prompt: "Selccione año") %>
        </div>
      </div>
      </br>

    <div class="form-group"> 
        <label class="col-sm-2 control-label">Asignar a vendedor</label>
        <div class="col-sm-3">
          <div class="form-group">
          <input type="checkbox" id="myCheck"  onclick="myFunction()"> 
          </div>
        </div>
      </div>
      </br>
 
      <div class="form-group" id="vendedor" hidden>
        <label class="col-sm-2 control-label">Vendedor asignado al objetivo</label>
        <div class="col-sm-10"> 
          <%punto_venta_id = current_user.punto_venta_id%>
          <%= f.collection_select(:vendedor_id, Vendedor.where(:punto_venta_id => punto_venta_id ).where('baja is null or baja = false'), :id, :to_s, {:prompt => "Seleccione vendedor", :include_blank => true},:style=>"width:50%") %>
        </div>
      </div>
      </br>
        <%= f.hidden_field :punto_venta_id, value: @objetivo_mensual.punto_venta_id %> 
      </br>
 
      <div class="form-group">
        <label class="col-sm-2 control-label">Descripción del objetivo</label>
        <div class="col-sm-10">
          <%= f.text_field :descripcion, :class => "form-control" ,:style=>"width:50%"%>
        </div>
      </div>
  
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit class: "btn btn-primary" ,value: "Guardar"%>
          <%= link_to objetivo_mensuals_path, class: 'btn btn-primary' do %>
            <%= fa_icon "arrow-left", text: "Atras" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>



<script>
$(document).ready(function($) {
  $("#csi").hide();
});


function myFunction() {
  $("#pventa").val("");
  $("#vendedor").val("");
  var checkBox = document.getElementById("myCheck");
  if (checkBox.checked == true){
    $("#vendedor").show();
    $("#vendedor").val("");
  } else {
    $("#vendedor").hide();
    $("#vendedor").val("");
  }
}

$("#select_tipo").bind("propertychange change click keyup input paste",function(){
  if ($("#select_tipo").val() == "3"){
    $("#csi").show();
  }else{
    $("#csi").hide();
  }

});
</script>
