<div class="page-header">

<dl class="dl-horizontal">
  <dt>Descripcion:</dt>
  <dd><%= @objetivo_mensual.descripcion %></dd>

  <br/><br/>
  <%= link_to objetivo_mensual_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_objetivo_mensual_path(@estado_civil), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to objetivo_mensual_path(@objetivo_mensual), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>



<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @objetivo_mensual.descripcion %>
</p>

<p>
  <strong>Fecha creacion:</strong>
  <%= @objetivo_mensual.fecha_creacion %>
</p>

<p>
  <strong>Tipo objetivo:</strong>
  <%= @objetivo_mensual.tipo_objetivo_id %>
</p>

<p>
  <strong>Cantidad propuesta:</strong>
  <%= @objetivo_mensual.cantidad_propuesta %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @objetivo_mensual.mes %>
</p>

<p>
  <strong>Anio:</strong>
  <%= @objetivo_mensual.anio %>
</p>

<p>
  <strong>User:</strong>
  <%= @objetivo_mensual.user_id %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @objetivo_mensual.vendedor_id %>
</p>

<p>
  <strong>Punto venta:</strong>
  <%= @objetivo_mensual.punto_venta_id %>
</p>

<%= link_to 'Edit', edit_objetivo_mensual_path(@objetivo_mensual) %> |
<%= link_to 'Back', objetivo_mensuals_path %>
