<div class="page-header">

<dl class="dl-horizontal">
  <dt>Descripcion:</dt>
  <dd><%= @objetivo_mensual.descripcion %></dd>
  <dt><strong>Fecha creacion:</strong></dt>
  <dd><%= @objetivo_mensual.created_at %></dd>
  <dt>Tipo objetivo:</dt>
  <% TipoObjetivo.where(:id => @objetivo_mensual.tipo_objetivo_id).each do |r| %>
  <% @tobj = r.descripcion  %>
  <dd><%= @tobj %></dd>
  <% end %>
  <dt><strong>Cantidad propuesta:</strong></dt>
  <dd><%= @objetivo_mensual.cantidad_propuesta %></dd>
  <dt><strong>Mes:</strong></dt>
  <dd><%= @objetivo_mensual.mes %></dd>
  <dt><strong>Anio:</strong></dt>
  <dd><%= @objetivo_mensual.anio %></dd>
  <dt><strong>User:</strong></dt>
  <dd><%= @objetivo_mensual.user_id %></dd>
  <dt><strong>Vendedor:</strong></dt>
  <dd><%= @objetivo_mensual.vendedor_id %></dd>
  <dt><strong>Punto venta:</strong></dt>
  <dd><%= @objetivo_mensual.punto_venta_id %></dd>
  <br/><br/>
  <%= link_to objetivo_mensuals_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_objetivo_mensual_path(@objetivo_mensual), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to objetivo_mensual_path(@objetivo_mensual), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
<!-- 
<%= link_to 'Edit', edit_objetivo_mensual_path(@objetivo_mensual) %> |
<%= link_to 'Back', objetivo_mensuals_path %>
 -->