<div class="page-header">
  <%= link_to carga_diaria_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_carga_diarium_path(@carga_diarium), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Carga Diaria</h4>
</div>

<p>
  <strong>Fecha:</strong>
  <%= @carga_diarium.fecha %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @carga_diarium.cantidad %>
</p>

<p>
  <strong>Tipo objetivo:</strong>
  <%= @carga_diarium.tipo_objetivo.to_s %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @carga_diarium.user.email %>
</p>