<%= form_for(indicador) do |f| %>
  <% if indicador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(indicador.errors.count, "error") %> prohibited this indicador from being saved:</h2>

      <ul>
      <% indicador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %>
    <%= f.date_select :fecha %>
  </div>

  <div class="field">
    <%= f.label :tipo_indicador_id %>
    <%= f.number_field :tipo_indicador_id %>
  </div>

  <div class="field">
    <%= f.label :cantidad_completa %>
    <%= f.number_field :cantidad_completa %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
