<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @indicador.fecha %>
</p>

<p>
  <strong>Tipo indicador:</strong>
  <%= @indicador.tipo_indicador_id %>
</p>

<p>
  <strong>Cantidad completa:</strong>
  <%= @indicador.cantidad_completa %>
</p>

<%= link_to 'Edit', edit_indicador_path(@indicador) %> |
<%= link_to 'Back', indicadors_path %>
