<p id="notice"><%= notice %></p>
<div class="col-sm-12" style="margin-top: 15px;">
  <div class="content-box h-100">
    

    <div class="page-header">
      <%= link_to estado_personas_path, class: 'btn btn-default btn-header-page' do %>
        <span class="fa fa-chevron-left"></span>
        Volver
      <% end %>
      <%= link_to edit_estado_persona_path(@estado_persona), class: 'btn btn-primary btn-header-page' do %>
        <span class="fa fa-pencil"></span>
        Editar
      <% end %>    
    </div>

    
    <h4>Estado de la persona</h4>
    <p style="margin-left: 15px;">
     <strong>Estado:</strong>
      <%= @estado_persona.estado.to_s %>
    </p>


    <p style="margin-left: 15px;">
      <strong>Fecha:</strong>
      <%= @estado_persona.fecha_inicio %>
    </p>


    <p style="margin-left: 15px;">
      <strong>Persona:</strong>
      <% persona_id = Vendedor.where(:id => @estado_persona.vendedor_id).first.persona_id 
        persona = Persona.where(:id => persona_id).first%>
      <%= persona.to_s%>
    </p>    
  </div>
</div>
