<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @equipo.nombre %>
</p>

<p>
  <strong>Fecha alta:</strong>
  <%= @equipo.fecha_alta %>
</p>

<p>
  <strong>Fecha baja:</strong>
  <%= @equipo.fecha_baja %>
</p>

<p>
  <strong>Punto venta:</strong>
  <%= @equipo.punto_venta_id %>
</p>

<%= link_to 'Edit', edit_equipo_path(@equipo) %> |
<%= link_to 'Back', equipos_path %>
