<%= form_for persona, html: { class: "form-horizontal", role: "form" }  do |p_form| %>

  <% if @persona.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo guardar el formulario, tiene los siguientes errores:</h4>
      <ul>
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"  align="center" >Persona</h3>
</div>


  <fieldset id="datos_persona">
  <div class="form-group">
    <label class="col-sm-2 control-label">Cuit</label>  
      <div class="col-sm-2">
       <div class="form-group">
      <%= p_form.text_field :cuit , :class => " form-alta-vendedor  input_cuil text-field form-control solo_numerico", :id => "input_cuil", :placeholder => "Cuit" %> 
           </div>
    </div>
    </div>
  </br>

  <div class="panel-body">
   <div class="form-group">
   <label class="col-sm-2 control-label">Tipo de Documento</label>  
    <div class="col-sm-2">
     <div class="form-group">
      <%= p_form.collection_select :tipo_documento_id, TipoDocumento.all.order(:descripcion), :id, :descripcion, {prompt: false} ,:style=>"width:50%" ,:id=> "select_tipo_documento", :class => "form-control select input_tipo_documento" %>
      </div>
      </div>
    </div>
    </br>

  <div class="form-group">
    <label class="col-sm-2 control-label">Número de Documento</label>  
    <div class="col-sm-2">
     <div class="form-group">
        <%= p_form.text_field :numero_documento, :class => "form-alta-vendedor input_dni text-field form-control solo_numerico", :id => "input_dni" %>
         </div>
    </div>
    </div>
  </br>


  <div class="form-group">
    <label class="col-sm-2 control-label">Apellido</label>  
      <div class="col-sm-2">
      <div class="form-group">
       <%= p_form.text_field :apellido , :class => "form-alta text-field form-control", :style => "width: 250px;", :id => "input_apellidos", :placeholder => "Apellido" %>
          </div>
    </div>
    </div>
  </br>


  <div class="form-group">
    <label class="col-sm-2 control-label">Nombre</label>  
      <div class="col-sm-2">
        <div class="form-group">
           <%= p_form.text_field :nombre , :class => "form-alta text-field form-control", :style => "width: 250px;", :id => "input_nombre", :placeholder => "Nombre" %>
        </div>
    </div>
    </div>
  </br>


  <div class="form-group">
    <label class="col-sm-2 control-label">Domicilio</label>  
      <div class="col-sm-2">
        <div class="form-group">
         <%= p_form.text_field :domicilio , :class => "form-alta text-field form-control", :style => "width: 250px;", :id => "input_domicilio", :placeholder => "Domicilio" %>
         </div>
    </div>
    </div>
  </br>

  <div class="form-group">
    <label class="col-sm-2 control-label">Teléfono</label>  
      <div class="col-sm-2">
        <div class="form-group">
         <%= p_form.text_field :telefono , :class => "form-alta text-field form-control", :style => "width: 250px;", :id => "input_telefono", :placeholder => "Teléfono" %>
         </div>
    </div>
    </div>
  </br>

  <div class="form-group">
    <label class="col-sm-2 control-label">Fecha Nacimiento</label>  
      <div class="col-sm-2">
        <div class="form-group">
        <%= p_form.date_field :fecha_nacimiento, :id => "datepicker1", :placeholder => "Fecha Nacimiento", :class => "form-fecha-nac form-control" %>
         </div>
    </div>
    </div>
  </br>

  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>  
      <div class="col-sm-2">
        <div class="form-group">
         <%= p_form.text_field :email , :class => "form-alta text-field form-control", :style => "width: 250px;", :id => "input_email", :placeholder => "Email" %>
         </div>
    </div>
    </div>
  </br>
  

  <div class="form-group">
    <label class="col-sm-2 control-label">Foto</label>  
      <div class="col-sm-2">
      <div class="form-group">
        <%= p_form.file_field :foto, :class => "select_foto " %>
        </div>
    </div>
    </div>
  </br>
  </fieldset>
  


<div class="form-group">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= p_form.submit class: "btn btn-primary" ,value: "Guardar"%>
      <% end %>
    </div>  
    </div>   
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
     <%= link_to personas_path, class: 'btn btn-primary' do %>
     <%= fa_icon "plus", text: "Atras" %>
     <% end %>
     </div>
  </div>
  </div>
