<div class="page-header">
  <%= link_to reunions_path, class: 'btn btn-default' do %>
    <span class="fa fa-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_reunion_path(@reunion), class: 'btn btn-primary' do %>
    <span class="fa fa-pencil"></span>
    Editar
  <% end %>
  <h4>Reunión</h4>
</div>

<p>
  <strong>Fecha:</strong>
  <%= @reunion.fecha.strftime("%d/%m/%Y") %>
</p>

<% if @reunion.reunion_semanal?%>
<p>
  <strong>Mes:</strong>
  <%= @reunion.mes %>
</p>

<p>
  <strong>Semana:</strong>
  <%= @reunion.semana %>
</p>
<%else%>
<p>
  <strong>Mes:</strong>
  <%= @reunion.mes %>
</p>
<%end%>

<p>
  <strong>Lugar Físico:</strong>
  <%= @reunion.lugar_fisico %>
</p>

<p>
  <strong>Organizador:</strong>
  <%= @reunion.persona.to_s %>
</p>

<p>
  <strong>Documento:</strong>
  <a href="<%= @reunion.adjunto %>"><%=@reunion.adjunto_file_name%></a>
</p>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= fa_icon "users" %> Participantes</h3>
  </div>
  <div class="panel-body">  
    <dl class="dl-horizontal">
      <% participantes = ReunionParticipante.where(reunion_id: @reunion.id) %>
      <% if !participantes.empty? %>
        <% participantes.each do |pe| %>
          <% perid = pe.persona_id  %>
          <% Persona.where(id: perid).each do |pv| %>
            <dt>Participante:</dt>
            <dd><%= pv.nombre %> - <%= pv.apellido %></dd>
          <% end %>
        <% end %>
      <% else %>
        <div class="alert fade in alert-info alert-dismissable"><button class="close" data-dismiss="alert" aria-hidden="true" type="button">&times;</button>Aún no se agregaron <b>participantes</b>. Haga click en editar para agregar uno.</div>
      <% end %>
    </dl>
  </div>
</div>

