<div class="page-header">
  <%= link_to reunions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_reunion_path(@reunion), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Reunion</h4>
</div>

<p>
  <strong>Fecha:</strong>
  <%= @reunion.fecha %>
</p>

<p>
  <strong>Semana:</strong>
  <%= @reunion.semana %>
</p>

<p>
  <strong>Lugar Físico:</strong>
  <%= @reunion.lugar_fisico %>
</p>

<p>
  <strong>Organizador:</strong>
  <%= @reunion.persona.to_s %>
</p>