<div class="page-header">
  <%= link_to reunions_path, class: 'btn btn-default' do %>
    <span class="fa fa-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_reunion_path(@reunion), class: 'btn btn-primary' do %>
    <span class="fa fa-pencil"></span>
    Editar
  <% end %>
  <h4>Reunion</h4>
</div>

<p>
  <strong>Fecha:</strong>
  <%= @reunion.fecha %>
</p>

<p>
  <strong>Semana:</strong>
  <%= @reunion.semana %>
</p>

<p>
  <strong>Lugar Físico:</strong>
  <%= @reunion.lugar_fisico %>
</p>

<p>
  <strong>Organizador:</strong>
  <%= @reunion.persona.to_s %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= fa_icon "users" %> Participantes</h3>
  </div>
  <div class="panel-body">  
    <dl class="dl-horizontal">
      <% if !@reunion.personas.empty? %>
        <% @reunion.personas.each do |p| %>
          <dt>Participante:</dt>
          <dd><%= p.to_s %></dd>
        <% end %>
      <% else %>
        <div class="alert alert-warning" role="alert">
          <b><%= fa_icon "exclamation-circle" %></b>
          Aún no se han asignado Participantes!
        </div>
      <% end %>
    </dl>
  </div>
</div>

