<%= nested_form_for(concesionarium, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if concesionarium.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h5><b><%= fa_icon "exclamation-circle", text: "Atención! Ocurrieron los siguientes errores" %></b></h5>
      <ul>
      <% concesionarium.errors.messages.values.each do |msg| %>
        <%msg.each do  |m| %>
          <li><%= m %></li>
        <%end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :icono, class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
       <%= f.file_field :foto, :class => "select_foto" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nombre, class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :nombre, class: "form-control" %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :cantidad_de_puntos_de_venta, class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :cantPv, class: "form-control" %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :cantidad_de_vendedores, class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :cantVend, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" ,value: "Guardar"%>
    </div>
  </div>
<% end %>

<script type="text/javascript">    
  $('document').ready(function(){
    $('form').on('nested:fieldAdded', function() {
      /* apply select2 styling */ 
      $('select').select2({
        theme: "bootstrap",
        language: "es"
      }); 
    });
  });
</script>