<div class="page-header">
  <%= link_to concesionaria_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_concesionarium_path(@concesionarium), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Concesionaria</h4>
</div>

<p>
  <strong>Icono:</strong>
  <%= @concesionarium.icono %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @concesionarium.nombre %>
</p>

<p>
  <strong>Fecha alta:</strong>
  <%= @concesionarium.fecha_alta %>
</p>

<p>
  <strong>Fecha baja:</strong>
  <%= @concesionarium.fecha_baja %>
</p>

<p>
  <strong>Usuario creador:</strong>
  <%= @concesionarium.user.email %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @concesionarium.empresa_id %>
</p>

<% if current_user.admin? %>
  <h4>Usuarios administradores</h4>
  <% PersonaConcesionarium.where(concesionaria_id: @concesionarium.id).each do |pc|%>
    <p>
      <strong>Persona:</strong>
      <%= pc.persona %>
    </p>
    <p><td><%= link_to 'Eliminar', pc, method: :delete, data: { confirm: 'Seguro que desea eliminarlo?' } %></td>
    </p>
  <% end %>
<% end %>