<p id="notice"><%= notice %></p>

<p>
  <strong>Icono:</strong>
  <%= @concesionarium.icono %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @concesionarium.nombre %>
</p>

<p>
  <strong>Fecha alta:</strong>
  <%= @concesionarium.fecha_alta %>
</p>

<p>
  <strong>Fecha baja:</strong>
  <%= @concesionarium.fecha_baja %>
</p>

<p>
  <strong>User:</strong>
  <%= @concesionarium.user_id %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @concesionarium.empresa_id %>
</p>

<% PersonaConcesionarium.where(concesionaria_id: @concesionarium.id).each do |pc|%>
  <p>
    <strong>Persona:</strong>
    <%= pc.persona %>
  </p>
  <p><td><%= link_to 'Destroy', pc, method: :delete, data: { confirm: 'Seguro que desea eliminarlo?' } %></td>
  </p>
<% end %>

<%= link_to 'Edit', edit_concesionarium_path(@concesionarium) %> |
<%= link_to 'Back', concesionaria_path %>
