<div class="col-sm-12" style="margin-top: 15px;">
  <div class="content-box h-100">
    

    <div class="page-header">
      <center>
        <h2 style="text-align: center;font-weight: 600;"><%= @concesionarium.nombre %></h2>
        <%=image_tag @concesionarium.logo.url(:medium), :class=>"img-fluid", :style=>"width: 150; max-height:150px;"%>
        <!-- Use la imagen del assets porque no me anda la del logo adomodar despues
        -->
        <!--%=image_tag @concesionarium.logo.url(:medium), :class=>"img-fluid", :style=>"width: auto; max-height:325px;"%-->
      </center> 
     <% if current_user.admin? %>
         <%= link_to concesionaria_path, class: 'btn btn-default btn-header-page' do %>
         <span class="fa fa-chevron-left"></span>
         Volver
         <% end %>
  
        <%= link_to edit_concesionarium_path(@concesionarium), class: 'btn btn-primary btn-header-page' do %>
          <span class="fa fa-pencil"></span>
          Editar
        <% end %>    
    <% end %>
    </div>

    
    <h4>Datos de la Conocesionaria</h4>
    <p style="margin-left: 15px;">
      <strong>Cantidad de Puntos de Venta:</strong>
      <%= @concesionarium.cantPv %>
    </p>

    <p style="margin-left: 15px; color: red;">
      <strong>Cantidad de Puntos de Venta consumidos:</strong>
      <% cantPv = @concesionarium.cantPv %>
      <% cantPvCons = PuntoVentum.where(concesionaria_id: @concesionarium.id, baja: false).count %>
      <%= cantPvCons %>
    </p>

    <p style="margin-left: 15px;">
      <strong>Cantidad de Vendedores:</strong>
      <%= @concesionarium.cantVend %>
    </p>

      <p style="margin-left: 15px; color: red;">
      <strong>Cantidad de vendedores consumidos:</strong>
      <% cantVend = @concesionarium.cantVend %>
      <% cantVenPv = 0 %>
      <% pv = PuntoVentum.where(concesionaria_id: @concesionarium.id, baja: false)%>
      <% Vendedor.where(punto_venta_id: pv.ids).where('baja is null or baja = false').each do |ppv| %>
      <% cantVenPv = cantVenPv + 1 %>
      <% end %>
      <% cant = cantVend.to_i - cantVenPv.to_i  %>
      <%= cantVenPv %>
    </p>

    <p style="margin-left: 15px;">
      <strong>Fecha alta:</strong>
      <%= @concesionarium.fecha_alta %>
    </p>

    <p style="margin-left: 15px;">
      <strong>Horario fin de jornada:</strong>




    <%= @concesionarium.hora.to_s + ":"+ @concesionarium.minutos.to_s%>

    </p>

    <p style="margin-left: 15px;">
      <strong>Fecha baja:</strong>
      <%= @concesionarium.fecha_baja %>
    </p>

    <p style="margin-left: 15px;">
      <strong>Usuario creador:</strong>
      <%= @concesionarium.user.email %>
    </p>



    <% if current_user.admin? %>
      <h4>Usuarios administradores concesionaria<%= link_to fa_icon("plus"), new_persona_concesionarium_path(concesionaria: @concesionarium.id), style: "margin-left: 5px;" %></h4>
      <% PersonaConcesionarium.where(concesionaria_id: @concesionarium.id).each do |pc|%>
        <p style="margin-left: 15px;">
          <strong><%=fa_icon("user")%></strong>
          <%= pc.persona %> || Usuario: <%= pc.persona.user.email %><%= link_to fa_icon("undo"), persona_cambiar_contrasenia_path(pc.persona), :style=>"margin-left:15px;" %><%= link_to fa_icon("trash"), pc, method: :delete, data: { confirm: 'Seguro que desea eliminarlo?'}, :style=>"margin-left:15px;" %>
        </p>
      <% end %>
    <% end %>
    

    
  </div>
</div>
