<p id="notice"><%= notice %></p>

<p>
  <strong>Icono:</strong>
  <%= @concesionarium.icono %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @concesionarium.nombre %>
</p>

<p>
  <strong>Fecha alta:</strong>
  <%= @concesionarium.fecha_alta %>
</p>

<p>
  <strong>Fecha baja:</strong>
  <%= @concesionarium.fecha_baja %>
</p>

<p>
  <strong>User:</strong>
  <%= @concesionarium.user_id %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @concesionarium.empresa_id %>
</p>

<%= link_to 'Edit', edit_concesionarium_path(@concesionarium) %> |
<%= link_to 'Back', concesionaria_path %>
