<%= form_for(vendedor) do |f| %>
  <% if vendedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vendedor.errors.count, "error") %> prohibited this vendedor from being saved:</h2>

      <ul>
      <% vendedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :tipo_documento_id %>
    <%= text_field_tag (:tipo_documento_id) %>
  </div>

  <div class="form-group">
    <%= f.label :numero_documento %>
    <%= text_field_tag (:numero_documento) %>
  </div>

  <div class="form-group">
    <%= f.label :cuit %>
    <%= text_field_tag (:cuit) %>
  </div>

  <div class="form-group">
    <%= f.label :apellido %>
    <%= text_field_tag (:apellido) %>
  </div>

  <div class="form-group">
    <%= f.label :nombre %>
    <%= text_field_tag (:nombre) %>
  </div>

  <div class="form-group">
    <%= f.label :domicilio %>
    <%= text_field_tag (:domicilio) %>
  </div>

  <div class="form-group">
    <%= f.label :telefono %>
    <%= text_field_tag (:telefono) %>
  </div>

  <div class="form-group">
    <%= f.label :fecha_nacimiento %>
    <%= date_field_tag(:fecha_nacimiento) %>
  </div>
  
    <div class="form-group">
        <%= f.label :foto, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.file_field :foto %>
        </div>
    </div>



    <div class="form-group">
        <%= f.label :numero, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.text_field :numero, autofocus: true, class: 'form-control'  %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :fecha_alta, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.date_select :fecha_alta, start_year: 1920, end_year: 2000, class: 'form-control'  %>
        </div>
    </div>


    <div class="form-group">
        <%= f.label :fecha_baja, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.date_select :fecha_baja, start_year: 1920, end_year: 2000, class: 'form-control'  %>
        </div>
    </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
