<%= form_for(carga_diarium, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <div id="errors" class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h5><b><%= fa_icon "exclamation-circle", text: "Atención! Ocurrieron los siguientes errores" %></b></h5>
    <ul id="error">      
    </ul>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <%= label_tag 'Fecha', nil, class: "col-sm-3 control-label" %>
      <div class="col-sm-2">
        <%= text_field_tag 'fecha', nil, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag 'Cantidad', nil, class: "col-sm-3 control-label" %>
      <div class="col-sm-2">
        <%= text_field_tag 'cantidad', nil, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag 'tipo_objetivo_id', nil, class: "col-sm-3 control-label" %>
      <div class="col-sm-3">
        <%= select_tag 'tipo_objetivo_id', options_from_collection_for_select(TipoObjetivo.all, :id , :descripcion, ""), :id => "tipo_objetivo_id", :class => "form-control" %>
      </div>
    </div>
  </div>
  <div class="modal-footer">    
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      <button id="guardar" type="button" class="btn btn-primary">Guardar</button>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$('document').ready(function(){
  $('#guardar').click(function(){
    $.ajax({
      url: '/carga_diaria',
      type: 'POST',
      data: {
        carga_diarium: {
          fecha: $('#fecha').val(), 
          cantidad: $('#cantidad').val(), 
          tipo_objetivo_id: $('#tipo_objetivo_id').val(), 
        }
      }
    }).done(function(response){
      console.log(response);
      $('#error').empty();
      $('#error').append('<li>'+response+'</li>');      
    });
  });  
});
</script>
