<%= form_for(carga_diarium, html: { id: 'form', class: "form-horizontal", role: "form" }) do |f| %>
  <div id="errors" style="display: none" class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h5><b><%= fa_icon "exclamation-circle", text: "Atención! Ocurrieron los siguientes errores" %></b></h5>
    <ul id="error">      
    </ul>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <%= label_tag 'Fecha', nil, class: "col-sm-3 control-label" %>
      <div class="col-sm-2">
        <%= text_field_tag 'fecha', nil, class: 'form-control required' %>
      </div>
    </div>
    <% @tipos_objetivos.each do |t|%>
      <div class="form-group">
        <%= label_tag t.descripcion, nil, class: "col-sm-3 control-label" %>
        <div class="col-sm-2">
          <%= text_field_tag t.id, nil, class: 'form-control required' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">    
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      <button id="guardar" type="button" class="btn btn-primary">Guardar</button>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#guardar').click(function(){
    $.ajax({
      url: '/carga_diaria',
      type: 'POST',
      data: {
        carga_diarium: {
          fecha: $('#fecha').val(), 
          tipos_objetivos: {
          <% @tipos_objetivos.each do |t|%>
              <%= t.id %>: $('#<%= t.id %>').val(),
          <% end %>
          }
        }
      }
    }).done(function(response){
      if (response.length != 0) {
        $('#errors').show();
        $('#error').empty();
        for (var item in response) {
          $('#error').append('<li>'+response[item]+'</li>');      
        }
      }      
    });
  });
</script>
