<%= form_for(vendedor) do |f| %>
  <% if vendedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vendedor.errors.count, "error") %> prohibited this vendedor from being saved:</h2>

      <ul>
      <% vendedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :foto %>
    <%= f.text_field :foto %>
  </div>

  <div class="field">
    <%= f.label :numero %>
    <%= f.number_field :numero %>
  </div>

  <div class="field">
    <%= f.label :fecha_alta %>
    <%= f.date_select :fecha_alta %>
  </div>

  <div class="field">
    <%= f.label :fecha_baja %>
    <%= f.date_select :fecha_baja %>
  </div>

  <div class="field">
    <%= f.label :persona_id %>
    <%= f.number_field :persona_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
