<div class="navbar navbar-title navbar-static-top">
  <div class="container">
    <div class="main-nav">
    	<div class="details">
    		<span>Juan Carlos Perez</span><br>
    		Jefe de Vendedores
    	</div>
      <%=image_tag "medalla.png", :class=>"medal img-fluid", :style=>""%>
      <div class="medal-text">1</div> <!-- variable con la posición que tiene en la tabla -->
      <div class="buttons">
      	<a data-toggle="modal" data-target="#exampleModalCenter"><span class="fa fa-plus-circle"></span></a>
      	
      </div>
    </div>
    
  </div>
</div>
<div class="content">
  <div class="select-vendedores">
    Seleccione Vendedor: <%=select("post", "person_id", Vendedor.all.collect {|v| [ v.persona.nombre, v.id ] }, { include_blank: true })%>
  </div>
	<h1>Avance</h1>
	<table class="table">
    <tbody>
      <tr>
      	<td>Mes</td>
      	<td></td>
        <td style="min-width: 70%;">
        	<div class="chart">
    				<div class="bar-container">
        			<div data-percentage="66" class="bar">66%</div>
    				</div>
					</div>
        </td>
        <td style="text-align: right;">14/21</td>
      </tr>
      <tr>
      	<td>Ventas</td>
        <td><div class="circle bg_red"></div></td>
        <td style="min-width: 70%;">
        	<div class="chart">
    				<div class="bar-container">
        			<div data-percentage="10" class="bar">10%</div>
    				</div>
					</div>
        </td>
        <td style="text-align: right;">10/30</td>
      </tr>
      <tr>
        <td>Créditos</td>
        <td><div class="circle bg_green"></div></td>  
        <td style="min-width: 70%;">
        	<div class="chart">
    				<div class="bar-container">
        			<div data-percentage="60" class="bar">60%</div>
    				</div>
					</div>
        </td>
        <td style="text-align: right;">9/12</td>
      </tr>
      <tr>
        <td>Calidad</td>
        <td><div class="circle bg_yellow"></div></td>
        <td style="min-width: 70%;">
        	<div class="chart">
    				<div class="bar-container">
        			<div data-percentage="50" class="bar">50%</div>
    				</div>
					</div>
        </td>
        <td style="text-align: right;"></td>
      </tr>
    </tbody>
  </table>


	<h1>Conversión</h1>
	<div class="row">
		<div class="col-xs-4">
      <center>
        <h4>YO</h4>
        <%=image_tag "Funnel1.png", class:"img-responsive"%>
        <div class="legend legend-1">158</div>
        <div class="legend legend-2">52</div>
        <div class="legend legend-3">36</div>
      </center>
    </div>	
		<div class="col-xs-4">
      <h4 style="color:white;">detalle</h4>
      <%=image_tag "Funnel-details.png", class:"img-responsive"%>
      
    </div>		
		<div class="col-xs-4">
      <center>
        <h4>EQUIPO</h4>
        <%=image_tag "Funnel2.png", class:"img-responsive"%>
        <div class="legend legend-1">158</div>
        <div class="legend legend-2">52</div>
        <div class="legend legend-3">36</div>
      </center>
    </div>	

	</div>


	<h1>Tablero de Control</h1>
  <center>
        <a href="/dashboard">
        <%=image_tag "dashboard.png", class:"img-responsive", style: "padding:0 30%;"%>
        </a>
  </center>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="exampleModalLongTitle">Ingrese los valores del día</h3>
      </div>      
      <%= render 'form_modal', carga_diarium: @carga_diarium %>
      </div>      
    </div>
  </div>
</div>

<script type="text/javascript">
$('.bar').each(function() {
    percentage = $(this).attr('data-percentage');
    $(this).css('width',percentage+'%');
});
</script>