<div class="navbar navbar-title navbar-static-top">
  <div class="container">
    <div class="main-nav">
    	<div class="details">
    		<span><%= current_user.persona.nombre %> <%= current_user.persona.apellido %></span><br>
    		<% if current_user.has_role? :punto_venta %>
          Jefe de Vendedores
        <%elsif current_user.has_role? :vendedor %>
          Vendedor
        <% end %>
    	</div>
      <%=image_tag "medalla.png", :class=>"medal img-fluid", :style=>""%>
      <div class="medal-text">1</div> <!-- variable con la posición que tiene en la tabla -->
      <div class="buttons">
      	<a data-toggle="modal" data-target="#exampleModalCenter"><span class="fa fa-plus-circle"></span></a>
      	
      </div>
    </div>
    
  </div>
</div>
<div class="content">
  <% if current_user.has_role? :punto_venta %>
  <div class="select-vendedores">
    Seleccione Vendedor: <%=select("post", "person_id", Vendedor.where(punto_venta_id: current_user.punto_venta_id), { include_blank: true })%>
  </div>
  <% end %>
	<h1>Avance</h1>
	<table class="table">
    <tbody>
      <tr>
      	<td>Mes</td>
      	<td></td>
        <td style="min-width: 70%;">
        	<div class="chart">
    				<div class="bar-container">
              <%carga_total_mes_v = CargaDiarium.carga_total_mes_v(Date.today.year, Date.today.month, @vendedor)
              objetivo_total_v = ObjetivoMensual.objetivo_total_v(Date.today.year, Date.today.month, @vendedor)
              aux_objetivo_total_v = objetivo_total_v
              if objetivo_total_v.to_i == 0 
                aux_objetivo_total_v = 1
              end  %>
        			<div data-percentage="<%=carga_total_mes_v*100/aux_objetivo_total_v%>" class="bar"><%= carga_total_mes_v*100/aux_objetivo_total_v%>%</div>
    				</div>
					</div>
        </td>
        <td style="text-align: right;"><%= carga_total_mes_v %>/<%= objetivo_total_v%></td>
      </tr>
      <tr>
      	<td>Ventas</td>
        <td><div class="circle bg_red"></div></td>
        <td style="min-width: 70%;">
        	<div class="chart">
    				<div class="bar-container">
              <%carga_total_ob_mes_v = CargaDiarium.carga_total_ob_mes_v(Date.today.year, Date.today.month, @vendedor, 5)
              objetivo_v = ObjetivoMensual.objetivo_v(Date.today.year, Date.today.month, @vendedor, 5)
              aux_objetivo_v = objetivo_v
              if objetivo_v.to_i == 0 
                aux_objetivo_v = 1
              end  %>
        			<div data-percentage="<%= carga_total_ob_mes_v*100/aux_objetivo_v%>" class="bar"><%= carga_total_ob_mes_v*100/aux_objetivo_v%>%</div>
    				</div>
					</div>
        </td>
        <td style="text-align: right;"><%= carga_total_ob_mes_v%>/<%=objetivo_v%></td>
      </tr>
      <tr>
        <td>Oportunidades</td>
        <td><div class="circle bg_green"></div></td>  
        <td style="min-width: 70%;">
        	<div class="chart">
    				<div class="bar-container">
        	<div class="bar-container">
              <%carga_total_ob_mes_op = CargaDiarium.carga_total_ob_mes_op(Date.today.year, Date.today.month, @vendedor, 7)
              objetivo_op = ObjetivoMensual.objetivo_op(Date.today.year, Date.today.month, @vendedor, 7)
              aux_objetivo_op = objetivo_op
              if objetivo_op.to_i == 0 
                aux_objetivo_op = 1
              end  %>
              <div data-percentage="<%= carga_total_ob_mes_op*100/aux_objetivo_op%>" class="bar"><%= carga_total_ob_mes_op*100/aux_objetivo_op%>%</div>
            </div>
					</div>
        </td>
        <td style="text-align: right;"><%= carga_total_ob_mes_op%>/<%=objetivo_op%></td>
      </tr>
      <tr>
        <td>Pruebas de manejo</td>
        <td><div class="circle bg_green"></div></td>  
        <td style="min-width: 70%;">
          <div class="chart">
            <div class="bar-container">
          <div class="bar-container">
              <%carga_total_ob_mes_pm = CargaDiarium.carga_total_ob_mes_pm(Date.today.year, Date.today.month, @vendedor, 4)
              objetivo_pm = ObjetivoMensual.objetivo_pm(Date.today.year, Date.today.month, @vendedor, 4)
              aux_objetivo_pm = objetivo_pm
              if objetivo_op.to_i == 0 
                aux_objetivo_pm = 1
              end  %>
              <div data-percentage="<%= carga_total_ob_mes_pm*100/aux_objetivo_pm%>" class="bar"><%= carga_total_ob_mes_pm*100/aux_objetivo_pm%>%</div>
            </div>
          </div>
        </td>
        <td style="text-align: right;"><%= carga_total_ob_mes_pm%>/<%=objetivo_pm%></td>
      </tr>
    </tbody>
  </table>


	<h1>Conversión</h1>
	<div class="row">
		<div class="col-xs-4">
      <center>
        <h4>YO</h4>
        <%=image_tag "Funnel1.png", class:"img-responsive"%>
        <div class="legend legend-1"><%=carga_total_ob_mes_op%></div>
        <div class="legend legend-2"><%=carga_total_ob_mes_pm%></div>
        <div class="legend legend-3"><%=carga_total_ob_mes_v%></div>
      </center>
    </div>	
		<div class="col-xs-4">
      <h4 style="color:white;">detalle</h4>
      <%=image_tag "Funnel-details.png", class:"img-responsive"%>
      
    </div>		
		<div class="col-xs-4">
      <center>
        <h4>EQUIPO</h4>
        <%=image_tag "Funnel2.png", class:"img-responsive"%>
        <% total_op = CargaDiarium.carga_total_por_equipo(Date.today.year, Date.today.month, current_user, 7) %>
        <% total_pm = CargaDiarium.carga_total_por_equipo(Date.today.year, Date.today.month, current_user, 4) %>
        <% total_v = CargaDiarium.carga_total_por_equipo(Date.today.year, Date.today.month, current_user, 5) %>
        <div class="legend legend-1"><%= total_op %></div>
        <div class="legend legend-2"><%= total_pm %></div>
        <div class="legend legend-3"><%= total_v %></div>
      </center>
    </div>	

	</div>


	<h1>Tablero de Control</h1>
  <center>
        <a href="/dashboard">
        <%=image_tag "dashboard.png", class:"img-responsive", style: "padding:0 30%;"%>
        </a>
  </center>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLongTitle">Ingrese los valores del día</h4>
      </div>      
      <%= render 'form_modal', carga_diarium: @carga_diarium %>
      </div>      
    </div>
  </div>
</div>

<script type="text/javascript">
$('.bar').each(function() {
    percentage = $(this).attr('data-percentage');
    $(this).css('width',percentage+'%');
});
</script>