<div class="navbar navbar-title navbar-static-top">
  <div class="container">
    <div class="main-nav">
    	<div class="details">
    		<span><%= current_user.persona.nombre %> <%= current_user.persona.apellido %></span><br>
    		<% if current_user.has_role? :punto_venta %>
          Jefe de Vendedores
        <%elsif current_user.has_role? :vendedor %>
          Vendedor
        <% end %>
    	</div>
      <% if (current_user.has_role? :punto_venta) and (current_user.persona.vendedors == [])%>
        <%=image_tag "cucarda_jefe.jpg", :class=>"medal img-fluid", :style=>""%>
      <% else %>
        <%=image_tag "medalla.png", :class=>"medal img-fluid", :style=>""%>
        <div class="medal-text">1</div> <!-- variable con la posición que tiene en la tabla -->
        <div class="buttons">
          <a data-toggle="modal" data-target="#exampleModalCenter"><span class="fa fa-plus-circle"></span></a>
        </div>
      <% end %>
    </div>
    
  </div>
</div>
<div class="content">
  <% if current_user.has_role? :punto_venta %>
  
  <div class="select-vendedores">
    Seleccione Vendedor: <%=select("vendedor", "numero", ['Yo y mi Equipo']+Vendedor.where(punto_venta_id: current_user.punto_venta_id).collect {|v| [ "Vendedor Numero: #{v.numero} - #{v.persona.to_s}", v.numero ]})%>    
  </div>
  <% end %>
	<h1>Avance</h1>
	<table class="table", style="text-align: left;">
    <tbody>
      <tr>
      	<td style="text-align: left">Mes</td>
      	<td></td>
        <td style="min-width: 70%;">
        	<div class="chart">
    				<div class="bar-container">              
        			<div id="barra_mes" data-percentage="<%= Date.today.day.to_i * 100 / Date.today.end_of_month.day.to_i %>" class="bar"><%= Date.today.day.to_i * 100 / Date.today.end_of_month.day.to_i %>%</div>
    				</div>
					</div>
        </td>
        <td style="text-align: right;"><%= Date.today.day.to_i %>/<%= Date.today.end_of_month.day.to_i %></td>
      </tr>
      <tr>

      	<td style="text-align: left">Ventas</td>
        <%carga_total_ob_mes_v = CargaDiarium.carga_total_ob_mes_v(Date.today.year, Date.today.month, @vendedor, 5)
        objetivo_v = ObjetivoMensual.objetivo_v(Date.today.year, Date.today.month, @vendedor, 5)
        aux_objetivo_v = objetivo_v
        if objetivo_v.to_i == 0 
           aux_objetivo_v = 1
         end  %>
        <%if (carga_total_ob_mes_v*100/aux_objetivo_v > 33 && carga_total_ob_mes_v*100/aux_objetivo_v <= 66)%>
        <td><div class="circle bg_yellow"></div></td>
        <% end %>
         <%if (carga_total_ob_mes_v*100/aux_objetivo_v <= 33) %>
         <td><div class="circle bg_red"></div></td>
        <% end %>
        <%if (carga_total_ob_mes_v*100/aux_objetivo_v > 66)%>
        <td><div class="circle bg_green"></div></td>
        <% end %>
        <td style="min-width: 70%;">
        	<div class="chart">
    				<div class="bar-container">
        			<div id="barra_ventas" data-percentage="<%= carga_total_ob_mes_v*100/aux_objetivo_v%>" class="bar"><%= carga_total_ob_mes_v*100/aux_objetivo_v%>%</div>
    				</div>
					</div>
        </td>
        <td style="text-align: right;"><%= carga_total_ob_mes_v%>/<%=objetivo_v%></td>
      </tr>
      <tr>

        <td style="text-align: left">Créditos</td>
         <%carga_total_ob_mes_cre = CargaDiarium.carga_total_ob_mes_op(Date.today.year, Date.today.month, @vendedor, 8)
         carga_total_ob_mes_op = CargaDiarium.carga_total_ob_mes_op(Date.today.year, Date.today.month, @vendedor, 7)
              objetivo_op = ObjetivoMensual.objetivo_op(Date.today.year, Date.today.month, @vendedor, 8)
              aux_objetivo_op = objetivo_op
              if objetivo_op.to_i == 0 
                aux_objetivo_op = 1
              end  %>
         <%if (carga_total_ob_mes_cre*100/aux_objetivo_op > 33 && carga_total_ob_mes_cre*100/aux_objetivo_op <= 66)%>
        <td><div class="circle bg_yellow"></div></td>
        <% end %>
         <%if (carga_total_ob_mes_cre*100/aux_objetivo_op<= 33) %>
         <td><div class="circle bg_red"></div></td>
        <% end %>
        <%if (carga_total_ob_mes_cre*100/aux_objetivo_op > 66)%>
        <td><div class="circle bg_green"></div></td>
        <% end %>  
        <td style="min-width: 70%;">
        	<div class="chart">
    				<div class="bar-container">
        	<div class="bar-container">
              <div id="barra_oportunidades" data-percentage="<%= carga_total_ob_mes_cre*100/aux_objetivo_op%>" class="bar"><%= carga_total_ob_mes_cre*100/aux_objetivo_op%>%</div>
            </div>
					</div>
        </td>
        <td style="text-align: right;"><%= carga_total_ob_mes_cre%>/<%=objetivo_op%></td>
      </tr>
      <tr>

        <td style="text-align: left">Calidad</td>
         <%carga_total_ob_mes_pm = CargaDiarium.carga_total_ob_mes_pm(Date.today.year, Date.today.month, @vendedor, 4)
              objetivo_pm_csi_real = ObjetivoMensual.objetivo_pm(Date.today.year, Date.today.month, @vendedor, 3)
              objetivo_pm = ObjetivoMensual.objetivo_pm(Date.today.year, Date.today.month, @vendedor, 3)
              aux_objetivo_pm = objetivo_pm
              if objetivo_pm.to_i == 0 
                aux_objetivo_pm = 1
              end  %>
           <%if (objetivo_pm > 33 && objetivo_pm <= 66)%>
        <td><div class="circle bg_yellow"></div></td>
        <% end %>
         <%if (objetivo_pm <= 33) %>
         <td><div class="circle bg_red"></div></td>
        <% end %>
        <%if (objetivo_pm > 66)%>
        <td><div class="circle bg_green"></div></td> 
        <% end %> 
        <td style="min-width: 70%;">
          <div class="chart">
            <div class="bar-container">
          <div class="bar-container">
              <div id="barra_pruebas_manejo" data-percentage="<%= aux_objetivo_pm%>" class="bar"><%= objetivo_pm%>%</div>
            </div>
          </div>
        </td>
        <td style="text-align: right;"><%= objetivo_pm%>/<%=objetivo_pm%></td>
      </tr>
    </tbody>
  </table>


	<h1>Conversión</h1>
	<div class="row">
		<div class="col-xs-4">
      <center>
        <h4>YO</h4>
        <%=image_tag "Funnel1.png", class:"img-responsive"%>
        <div class="legend legend-1"><%=carga_total_ob_mes_op%></div>
        <div class="legend legend-2"><%=carga_total_ob_mes_pm%></div>
        <div class="legend legend-3"><%=carga_total_ob_mes_v%></div>
      </center>
    </div>	
		<div class="col-xs-4">
      <h4 style="color:white;">detalle</h4>
      <%=image_tag "Funnel-details.png", class:"img-responsive"%>
      
    </div>		
		<div class="col-xs-4">
      <center>
        <h4>EQUIPO</h4>
        <%=image_tag "Funnel2.png", class:"img-responsive"%>
        <% total_op = CargaDiarium.carga_total_por_equipo(Date.today.year, Date.today.month, current_user, 7) %>
        <% total_pm = CargaDiarium.carga_total_por_equipo(Date.today.year, Date.today.month, current_user, 4) %>
        <% total_v = CargaDiarium.carga_total_por_equipo(Date.today.year, Date.today.month, current_user, 5) %>
        <div class="legend legend-1"><%= total_op %></div>
        <div class="legend legend-2"><%= total_pm %></div>
        <div class="legend legend-3"><%= total_v %></div>
      </center>
    </div>	

	</div>


	<h1>Tablero de Control</h1>
  <center>
        <a href="/dashboard">
        <%=image_tag "dashboard.png", class:"img-responsive", style: "padding:0 30%;"%>
        </a>
  </center>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLongTitle">Ingrese los valores del día</h4>
      </div>      
      <%= render 'form_modal', carga_diarium: @carga_diarium %>
      </div>      
    </div>
  </div>
</div>

<script type="text/javascript">
$('.bar').each(function() {
    percentage = $(this).attr('data-percentage');
    if (percentage > 100){
      $(this).css('width',100+'%');
    }else{
      $(this).css('width',percentage+'%');
     }
});
$('#vendedor_numero').change(function(){
    url = window.location.href.replace(window.location, "");
    window.location = url + 'home_vendedor?vendedor=' + $(this).val();    
});
/*$('.bar[data-percentage]').each(function () {
  var progress = $(this);
  var percentage = Math.ceil($(this).attr('data-percentage'));
  $({countNum: 0}).animate({countNum: percentage}, {
    duration: 400,
    easing:'linear',
    step: function() {
      // What todo on every count
      var pct = '';
      var ancho = '';
      if(percentage == 0){
        pct = Math.floor(this.countNum);
        ancho = pct;
      }else{
        pct = Math.floor(this.countNum+1);
        if (this.countNum <= 100) {          
          ancho = pct+'%';
        }
        else {
          ancho = '100%';
        }
      }
      progress.text(pct+'%');
      progress.css('width', ancho);
    }
  });
});*/
</script>