<p id="notice"><%= notice %></p>

<h1>Vendedors</h1>
<h1>Una lista de vendedores por punto de venta??</h1>

<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th>Numero</th>
      <th>Fecha alta</th>
      <th>Fecha baja</th>
      <th>Persona</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendedors.each do |vendedor| %>
      <tr>
        <td><%= vendedor.foto %></td>
        <td><%= vendedor.numero %></td>
        <td><%= vendedor.fecha_alta %></td>
        <td><%= vendedor.fecha_baja %></td>
        <td><%= vendedor.persona_id %></td>
        <td><%= vendedor.punto_venta_id %></td>
        <td><%= link_to 'Show', vendedor %></td>
        <td><%= link_to 'Edit', edit_vendedor_path(vendedor) %></td>
        <td><%= link_to 'Destroy', vendedor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendedor', new_vendedor_path %>
