<h1>Vendedores</h1>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Email</th>
        <th>Fecha Inicio</th>
        <th class="col-md-2">&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @vendedors.each do |vendedor| %>
        <tr>
        <td><%= vendedor.persona.apellido %></td>
        <td><%= vendedor.persona.nombre %></td>
        <td><%= vendedor.persona.age(vendedor.persona.fecha_nacimiento) %></td>
        <td> ? </td>
        <td><%= vendedor.fecha_alta %></td>
          <td class="text-center">
            <%= link_to vendedor, class: 'btn btn-sm btn-default' do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
            <%= link_to edit_vendedor_path(vendedor), class: 'btn btn-sm btn-default' do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to vendedor, class: 'btn btn-sm btn-danger',method: :delete, data: { confirm: '¿Está seguro?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="page-header">
  <%= link_to new_vendedor_path, class: 'btn btn-primary' do %>
    <%= fa_icon "plus", text: "Nuevo vendedor" %>
  <% end %>
</div>
