    <% v= @vendedor%>

  <div class="col-sm-3 ">
    <div class="content-box">
       <center><font face="verdana" color="black" size="5" >Objetivos Cargados para el vendedor </font></center>
      <div class="description">
        <h4 style=""><%=v.persona.apellido%> <%=v.persona.nombre %></h4> 
        <h4 style="">Vendedor</h4>
        <p style="">Estado: Activo</p>
        <%= wicked_pdf_image_tag v.foto.url(:medium), :class=>"img-fluid", :style=>"width: auto; max-height:250px;"%>
      </div>
    </div>
  </div>
 <center><font face="verdana" color="black" size="4" >Objetivos por tipo y cantidad</font></center>
 <br>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Oportunidades</th>
        <th>Ventas</th>
        <th>Prueba de Manejo</th>
        <th>Financiaciones</th>
        <th>Calidad</th>
      </tr>
    <tr>
        <td> <%carga_total_ob_mes_op = ObjetivoMensual.asignado_o_proyeccion(Date.today.year, Date.today.month, @vendedor, 7)%>
          <%=carga_total_ob_mes_op%>
          </td>
          <td><%carga_total_ob_mes_v = ObjetivoMensual.objetivo_v(Date.today.year, Date.today.month, @vendedor, 5)%>
            <%=carga_total_ob_mes_v%>
          </td>
          <td><%carga_total_ob_mes_pm = ObjetivoMensual.asignado_o_proyeccion(Date.today.year, Date.today.month, @vendedor, 4)%>
           <%=carga_total_ob_mes_pm%>
          </td>
          <td><%carga_total_ob_mes_f = ObjetivoMensual.asignado_o_proyeccion(Date.today.year, Date.today.month, @vendedor, 8)%>
          <%=carga_total_ob_mes_f%>
          </td>
          <td><%objetivo_csi = ObjetivoMensual.objetivo_v(Date.today.year, Date.today.month, @vendedor, 3)%>
           <%=objetivo_csi%>
          </td>
  </table>
</div>
<br>
<br>
<br>
<h6 style="" align="right">......................................... <br>
  Firma del vendedor</h6>
