  <%punto_venta_id = current_user.punto_venta_id
  @punto_venta= PuntoVentum.where(id: punto_venta_id).first.nombre
  concesionaria_id = PuntoVentum.where(:id => punto_venta_id ).first.concesionaria_id
  @concesionaria = Concesionarium.where(:id => concesionaria_id).first.nombre
  %>
  <div class="col-sm-12 h-6">
    <ol class="breadcrumb">
      <li><a href="/">Organización: Ergos</a></li> /
      <%= link_to  concesionarium_url(concesionaria_id) do %>
       Concesionarios: <%=@concesionaria%> / 
      <% end %>
       <%= link_to punto_ventum_url(punto_venta_id) do %>
       Punto de Venta: <%=@punto_venta%> / 
      <% end %>
      <li class="active">Vendedores</li>
    </ol>

  </div>

    

    <% v= @vendedor

    if @vendedor.next != nil 
      siguiente= @vendedor.next.id
    else
      siguiente= @vendedor.id
    end


    if @vendedor.previous != nil 
      anterior= @vendedor.previous.id
    else
      anterior= @vendedor.id
    end


    if @vendedor != nil
      indice= v.id
    else
      indice=0
    end

    cant = Vendedor.where(:punto_venta_id => punto_venta_id).count

    if Vendedor.all.first != nil
        primero = Vendedor.where(punto_venta_id: punto_venta_id).first.id
    else
      primero = 0
    end

    if Vendedor.all.last != nil
        ultimo = Vendedor.where(punto_venta_id: punto_venta_id).last.id
    else
      ultimo = 0
    end%>



  <div class="col-sm-3 admin-box h-400">
    <div class="content-box h-100">
      
      <center><%=image_tag v.foto.url(:medium), :class=>"img-fluid", :style=>"width: auto; max-height:250px;"%></center> 

      <div class="description">
        <h4 style=""><%=v.persona.apellido%> <%=v.persona.nombre %></h4> 
        <h4 style="">Vendedor</h4>
        <p style="">Estado: Activo</p>
        <p style="">Última Carga: Ayer 17:54</p>
      </div>
    </div>
  </div>
  <div class="col-sm-9 admin-box h-400">
    <div class="content-box h-100">
      <div class="btn-group w-100" role="group" aria-label="..." style="margin-bottom: 20px;">
        <div class="title-box w-20 bg-gray">Vendedores</div>
        <div class="title-box w-60 bg-ergosgray"></div>
        <div class="title-box w-20 bg-gray">
          <a href="/vendedors/<%=primero%>"> << </a> 
          <a href="/vendedors/<%=anterior%>"> < </a> 
          1 de <%=cant%> 
          <a href="/vendedors/<%=siguiente%>"> > </a>
          <a href="/vendedors/<%=ultimo%>"> >> </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="">
            <h4 class="text-center font-weight-bold" style="margin-top:0px;">Datos Personales</h4>
            <p><span class="font-weight-bold">Identificación: </span><%=v.persona.cuit%></p>
            <p><span class="font-weight-bold">Edad:</span><%=v.persona.age(v.persona.fecha_nacimiento)%> años</p>
            <p><span class="font-weight-bold">Fecha de Ingreso: </span><%=v.fecha_alta%></p>
            <p><span class="font-weight-bold">Interno: </span> ? </p>
            <p><span class="font-weight-bold">Teléfono Móvil: </span><%=v.persona.telefono%></p>
            <p><span class="font-weight-bold">E-Mail: </span><%=v.persona.email%></p>
          </div>
        </div>
        <div class="col-xs-6 row">
          <h4 class="text-center font-weight-bold" style="margin-top:0px;">Último Trimestre</h4>
          <div class="col-xs-6">
            <%=image_tag "Funnel-details.png", class:"img-responsive"%>
            
          </div>    
          <div class="col-xs-6">
            <center> 
              <%
                total_trimestral_op = CargaDiarium.total_trimestral(Date.today.year, Date.today.month, @vendedor, 7)
                total_trimestral_pm = CargaDiarium.total_trimestral(Date.today.year, Date.today.month, @vendedor, 4) 
                total_trimestral_v = CargaDiarium.total_trimestral(Date.today.year, Date.today.month, @vendedor, 5) 
              %>
              <%=image_tag "Funnel2.png", class:"img-responsive"%>
              <div class="legend legend-1" style="top:10%;"><%= total_trimestral_op %></div>
              <div class="legend legend-2" style="top:40%;"><%= total_trimestral_pm %></div>
              <div class="legend legend-3" style="bottom:20%;"><%= total_trimestral_v %></div>
              <%
              total_trimestral_op = (total_trimestral_op.to_i == 0) ? 1 : total_trimestral_op
              porcentaje_trimestral = total_trimestral_v * 100 / (total_trimestral_op) 
              %>
              <div style="bottom:20%;"><b><%= porcentaje_trimestral %>%</b></div>
            </center>
          </div>  
          <div class="col-xs-12">
            <table class="table cel-table" style="margin-top: 5px;">
              <%
                mes_actual = Date.today.month
                anio = Date.today.year
                primer_mes = mes_actual - 3
                if (primer_mes < 0)
                  primer_mes = 13 + (primer_mes)
                  anio -=  1
                end
                segundo_mes = primer_mes + 1
                tercer_mes = segundo_mes + 1
              %>
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"><%= I18n.t("date.month_names")[primer_mes] %></th>
                  <th scope="col"><%= I18n.t("date.month_names")[segundo_mes] %></th>
                  <th scope="col"><%= I18n.t("date.month_names")[tercer_mes] %></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Oportunidades</th>
                  <td><%= CargaDiarium.carga_total_ob_mes_op(anio, primer_mes, @vendedor, 7) %></td>
                  <td><%= CargaDiarium.carga_total_ob_mes_op(anio, segundo_mes, @vendedor, 7) %></td>
                  <td><%= CargaDiarium.carga_total_ob_mes_op(anio, tercer_mes, @vendedor, 7) %></td>
                </tr>
                <tr>
                  <th scope="row">Pruebas de Manejo</th>
                  <td><%= CargaDiarium.carga_total_ob_mes_op(anio, primer_mes, @vendedor, 4) %></td>
                  <td><%= CargaDiarium.carga_total_ob_mes_op(anio, segundo_mes, @vendedor, 4) %></td>
                  <td><%= CargaDiarium.carga_total_ob_mes_op(anio, tercer_mes, @vendedor, 4) %></td>
                </tr>
                <tr>
                  <th scope="row">Ventas</th>
                  <td><%= CargaDiarium.carga_total_ob_mes_op(anio, primer_mes, @vendedor, 5) %></td>
                  <td><%= CargaDiarium.carga_total_ob_mes_op(anio, segundo_mes, @vendedor, 5) %></td>
                  <td><%= CargaDiarium.carga_total_ob_mes_op(anio, tercer_mes, @vendedor, 5) %></td>
                </tr>
              </tbody>
            </table>
          </div>  
        </div>
      </div>
      <div class="" style="width:90%;position: absolute;bottom: 20px;">
        <p class="text-center "><a href="">más..</a></p>
      </div>

    </div>
    
  </div>
  <div class="col-sm-3 admin-box h-350">
    <div class="content-box">
      <h4 style="">Información relacionada</h4>
      <ul>
        <li><%= link_to (fa_icon "list", text: "Historial de Carga"), carga_diaria_path(vendedor: @vendedor.numero) %></li>
    </ul>
    </div>

  </div>
  <div class="col-sm-9 admin-box h-350">
    <div class="content-box h-100">
      <div class="btn-group w-100" role="group" aria-label="..." style="margin-bottom: 0px;">
        <div class="title-box w-20 bg-gray">Objetivos</div>
        <div class="title-box w-60 bg-ergosgray"></div>
        <div class="title-box w-20 bg-gray">
          <a href="/vendedors/<%=primero%>"> << </a> 
          <a href="/vendedors/<%=anterior%>"> < </a> 
          1 de <%=cant%> 
          <a href="/vendedors/<%=siguiente%>"> > </a>
          <a href="/vendedors/<%=ultimo%>"> >> </a>
        </div>
      </div>
      <%= form_tag("/objetivo_mensuals/actualizar_objetivos", method: "post") do %>
      <div class="btn-horizontal-list bg-light-gray" style="margin-bottom: 15px;">
        <%= link_to "#{vendedors_path}/#{@vendedor.id}.pdf", class: 'btn btn-xs btn-default btn-ergos' do %>
        <%= fa_icon "file-pdf-o", text: "Imprimir Objetivos" %>
        <% end %>   
        <%= button_tag(type: "submit", class: "btn btn-xs btn-default btn-ergos") do %>
          <%= fa_icon "save", text: "Guardar" %>
        <% end %>
      </div>      
      <div class="row">
        <div class="col-xs-6 row">
          <%= hidden_field(:vendedor, :id, value: @vendedor.id) %>
          <!-- Oportunidades -->
          <br><br>
          <br>
          <div class="col-sm-4" style="text-align: right;padding: 6px 0px; font-weight: bold;">
          Oportunidades:

          </div>
          <div class="col-sm-6">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" data-field="oportunidades" class="btn btn-default btn-menos minus"><%= fa_icon ("minus")%></button>
              <% valor_op = ObjetivoMensual.asignado_o_proyeccion(Date.today.year, Date.today.month, @vendedor, 7)%>    
              <input id="input_oportunidades" type="text" class="btn btn-default" style="max-width:70px;" name="oportunidades" value ="<%= valor_op %>"></input>
              <button type="button" data-field="oportunidades" class="btn btn-default btn-mas plus"><%= fa_icon ("plus")%></button>
            </div>
          </div> 
          <div id="oportunidades" class="col-sm-2" style="text-align: left;padding: 6px 0px; font-weight: bold;">
          <%objetivo_op = ObjetivoMensual.total_objetivos_punto_venta(Date.today.year, Date.today.month, @vendedor, 7)%>
          de <%=objetivo_op%>
          </div>
          <br>
          <br>
          <!-- Prueba de Manejo -->
          <div class="col-sm-4" style="text-align: right;padding: 6px 0px; font-weight: bold;">
          PM:
          </div>
          <div class="col-sm-6">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" data-field="pruebas_manejo" class="btn btn-default btn-menos minus"><%= fa_icon ("minus")%></button>
              <% valor_pm = ObjetivoMensual.asignado_o_proyeccion(Date.today.year, Date.today.month, @vendedor, 4)%>    
              <input id="input_pruebas_manejo" type="text" class="btn btn-default" style="max-width:70px;" name="pruebas_manejo" value ="<%= valor_pm %>"></input>
              <button type="button" data-field="pruebas_manejo" class="btn btn-default btn-mas plus"><%= fa_icon ("plus")%></button>
            </div>
          </div> 
          <div id="pruebas_manejo" class="col-sm-2" style="text-align: left;padding: 6px 0px; font-weight: bold;">
          <%objetivo_pm = ObjetivoMensual.total_objetivos_punto_venta(Date.today.year, Date.today.month, @vendedor, 4)%>          
          de <%=objetivo_pm%>
          </div>
          <br>
          <br>
          <!-- Ventas -->
          <div class="col-sm-4" style="text-align: right;padding: 6px 0px; font-weight: bold;">
          Ventas:
          </div>
          <div class="col-sm-6">
            <div class="btn-group" role="group" aria-label="...">            
              <button type="button" data-field="ventas" class="btn btn-default btn-menos minus"><%= fa_icon ("minus")%></button>
              <% valor_v = ObjetivoMensual.asignado_o_proyeccion(Date.today.year, Date.today.month, @vendedor, 5)%>    
              <input id="input_ventas" type="text" class="btn btn-default" style="max-width:70px;" name="ventas" value ="<%= valor_v %>"></input>
              <button type="button" data-field="ventas" class="btn btn-default btn-mas plus"><%= fa_icon ("plus")%></button>
            </div>
          </div> 
          <div id="ventas" class="col-sm-2" style="text-align: left;padding: 6px 0px; font-weight: bold;">
          <%objetivo_v = ObjetivoMensual.total_objetivos_punto_venta(Date.today.year, Date.today.month, @vendedor, 5)%>
          
          de <%=objetivo_v%>
          </div>
        </div>
        <div class="col-xs-6 row">
          <!-- Mes -->
          <div class="row">
            <%= label_tag :mes, "Mes", class: "col-sm-2 control-label" %>
            <div class="col-sm-4">
              <select class="form-control" name="mes" id="mes">
                <option value="1">Enero </option>
                <option value="2">Febrero </option>
                <option value="3">Marzo </option>
                <option value="4">Abril </option>
                <option value="5">Mayo </option>
                <option value="6">Junio </option>
                <option value="7">Julio </option>
                <option value="8">Agosto </option>
                <option value="9">Septiembre </option>
                <option value="10">Octubre </option>
                <option value="11">Noviembre </option>
                <option value="12">Diciembre </option>
              </select>
            </div>
            <%= label_tag :anio, "Año", class: "col-sm-2 control-label" %>
            <div class="col-sm-4">
              <select class="form-control" name="anio" id="anio">
                <script language="javascript" type="text/javascript">
                  var k;
                  var d = new Date();
                  var n = d.getFullYear(); 
                  for(k=n;k>=1970;k--){ 
                    $("#anio").append(new Option(k, k));
                  }
                </script>
              </select>
            </div>
          </div>
          
          <br>
          <br>
          <br>
          <!-- Financiaciones -->
          <div class="col-sm-4" style="text-align: right;padding: 6px 0px; font-weight: bold;">
          Financiaciones:
          </div>
          <div class="col-sm-6">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" data-field="financiaciones" class="btn btn-default btn-menos minus"><%= fa_icon ("minus")%></button>
              <% valor_f = ObjetivoMensual.asignado_o_proyeccion(Date.today.year, Date.today.month, @vendedor, 8)%>    
              <input type="text" class="btn btn-default" style="max-width:70px;" name="financiaciones" value="<%= valor_f %>"></input>
              <button type="button" data-field="financiaciones" class="btn btn-default btn-mas plus"><%= fa_icon ("plus")%></button>
            </div>
          </div> 
          <div id="financiaciones" class="col-sm-2" style="text-align: left;padding: 6px 0px; font-weight: bold;">
          <%objetivo_v = ObjetivoMensual.total_objetivos_punto_venta(Date.today.year, Date.today.month, @vendedor, 8)%>
          
          de <%=objetivo_v%>
          </div>
          <br>
          <br>
          <!-- Calidad -->
          <div class="col-sm-4" style="text-align: right;padding: 6px 0px; font-weight: bold;">
          Calidad:
          </div>
          <div class="col-sm-6">
            <div class="btn-group" role="group" aria-label="...">
            <% valor_csi = ObjetivoMensual.asignado_o_proyeccion(Date.today.year, Date.today.month, @vendedor, 3)%>
              <button type="button" data-field="calidad" class="btn btn-default btn-menos minus"><%= fa_icon ("minus")%></button>
              <input id="input_calidad" type="text" class="btn btn-default" style="max-width:70px; " name="calidad" value="<%= valor_csi %>"></input>
              <button type="button" data-field="calidad" class="btn btn-default btn-mas plus"><%= fa_icon ("plus")%></button>
            </div>
          </div> 
          <div id="calidad" class="col-sm-2" style="text-align: left;padding: 6px 0px; font-weight: bold;">
          <%objetivo_v = ObjetivoMensual.total_objetivos_punto_venta(Date.today.year, Date.today.month, @vendedor, 3)%>
          
          de <%=objetivo_v%>
          </div>
          <br>
          <br>
        </div>
        <div class="" style="width:90%;position: absolute;bottom: 20px;">
          <p class="text-center "><a href="">más..</a></p>
        </div>
      </div>
      <% end %>
    </div>
      
  </div>
  <div class="col-sm-12 h-6">
    <div class="btn-horizontal-list bg_white" style="">
      <a href="/reunions" type="button" class="btn btn-default btn-ergos">Preparar Reunión Semanal</a>
      <button type="button" class="btn btn-default btn-ergos btn-add-btns"><%= fa_icon "plus" %><div class="text">Agregar Atajo</div></button>
    </div>
    
  </div>

  <script type="text/javascript">
  $('.plus').click(function(){
    input = $(this).attr('data-field');
    $("input[name='"+input+"']").val(function(i, oldval) {
      return ++oldval;
    });
  });
  $('.minus').click(function(){
    input = $(this).attr('data-field');
    if ($("input[name='"+input+"']").val() >0) {
      $("input[name='"+input+"']").val(function(i, oldval) {
        return --oldval;
      });
    }
  });

  $('#mes').val(<%= Date.today.month %>);
  $('#anio').val(<%= Date.today.year %>);

  $('#mes').change(function(){
    mes = $(this).val()
    anio = $('#anio').val()
    $.ajax({
      url: '/objetivos_y_carga_diaria?anio='+anio+'&mes='+mes+'&vendedor_id='+<%= @vendedor.id %>,
      type: 'GET',
    }).done(function(response){      
      setear_valores(response);
    });
  });

  $('#anio').change(function(){    
    anio = $(this).val()
    mes = $('#mes').val()
    $.ajax({
      url: '/objetivos_y_carga_diaria?anio='+anio+'&mes='+mes+'&vendedor_id='+<%= @vendedor.id %>,
      type: 'GET',
    }).done(function(response){
      setear_valores(response);
    });
  });

  function setear_valores(response){
    $('#oportunidades').text('de '+response.ob_oportunidades);
    $('#pruebas_manejo').text('de '+response.ob_pruebas_manejo);
    $('#ventas').text('de '+response.ob_ventas);
    $('#calidad').text('de '+response.ob_csi);
    $('#input_oportunidades').val(response.oportunidades);
    $('#input_pruebas_manejo').val(response.pruebas_manejo);
    $('#input_ventas').val(response.ventas);
    $('#input_calidad').val(response.calidad);
  }
  </script>

