<p id="notice"><%= notice %></p>

<p>
  <strong>Foto:</strong>
  <%= @vendedor.foto %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @vendedor.numero %>
</p>

<p>
  <strong>Fecha alta:</strong>
  <%= @vendedor.fecha_alta %>
</p>

<p>
  <strong>Fecha baja:</strong>
  <%= @vendedor.fecha_baja %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @vendedor.persona_id %>
</p>

<%= link_to 'Edit', edit_vendedor_path(@vendedor) %> |
<%= link_to 'Back', vendedors_path %>
