<p id="notice"><%= notice %></p>

<h1>Objetivos</h1>

<table>
  <thead>
    <tr>
      <th>Fecha creacion</th>
      <th>Descripcion</th>
      <th>Tipo indicador</th>
      <th>Cantidad propuesta</th>
      <th>Mes</th>
      <th>Anio</th>
      <th>User</th>
      <th>User</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @objetivos.each do |objetivo| %>
      <tr>
        <td><%= objetivo.fecha_creacion %></td>
        <td><%= objetivo.descripcion %></td>
        <td><%= objetivo.tipo_indicador_id %></td>
        <td><%= objetivo.cantidad_propuesta %></td>
        <td><%= objetivo.mes %></td>
        <td><%= objetivo.anio %></td>
        <td><%= objetivo.user_id %></td>
        <td><%= objetivo.user_id %></td>
        <td><%= objetivo.user_id %></td>
        <td><%= link_to 'Show', objetivo %></td>
        <td><%= link_to 'Edit', edit_objetivo_path(objetivo) %></td>
        <td><%= link_to 'Destroy', objetivo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Objetivo', new_objetivo_path %>
