<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha creacion:</strong>
  <%= @objetivo.fecha_creacion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @objetivo.descripcion %>
</p>

<p>
  <strong>Tipo indicador:</strong>
  <%= @objetivo.tipo_indicador_id %>
</p>

<p>
  <strong>Cantidad propuesta:</strong>
  <%= @objetivo.cantidad_propuesta %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @objetivo.mes %>
</p>

<p>
  <strong>Anio:</strong>
  <%= @objetivo.anio %>
</p>

<p>
  <strong>User:</strong>
  <%= @objetivo.user_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @objetivo.user_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @objetivo.user_id %>
</p>

<%= link_to 'Edit', edit_objetivo_path(@objetivo) %> |
<%= link_to 'Back', objetivos_path %>
