<div>
<%= form_for(persona_concesionarium) do |f| %>
  <% if persona_concesionarium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(persona_concesionarium.errors.count, "error") %> prohibited this persona_concesionarium from being saved:</h2>

      <ul>
      <% persona_concesionarium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1><%= Concesionarium.find(persona_concesionarium.concesionaria_id) %></h1>
  <div class="field">
    <%= f.label "Buscar Persona" %>
    <%= text_field_tag 'buscar_cuil'%>
    <label id="bot_buscar" onclick="buscar_persona()"  class="btn btn-primary"> buscar </label>     
    <%= f.hidden_field :persona_id, id: "persona_id"%>
    <div id = "datos_persona" class="hide">
      <label > Agente: </label> 
      <%= label_tag 'nombre_persona', nil, id: "nombre_persona"%>
      <br>
      <label > Correo: </label> 
      <%= label_tag 'email_persona', nil, id: "email_persona"%>
      <br>
      <label > Contraseña por defecto: </label> 
      <%= label_tag 'contra_persona', nil, id: "contra_persona"%>
    </div>
    <div  id = "crear_persona" class="hide">
      <label > No se encontraron resultados </label> 
      <%= link_to 'New Persona', new_persona_concesionaria_path(concesionaria: persona_concesionarium.concesionaria_id) %>
    </div>
  </div>

  <div class="field">
    <%= f.hidden_field :concesionaria_id %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" ,value: "Asignar Administrador de Concesionaria"%>
  </div>
<% end %>
</div>
