<%= form_for(punto_ventum) do |f| %>
  <% if punto_ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(punto_ventum.errors.count, "error") %> prohibited this punto_ventum from being saved:</h2>

      <ul>
      <% punto_ventum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel panel-default">
   <div class="panel-heading">
      <h2 class="panel-title"  align="center" ><%= punto_ventum.concesionaria %></h3>
      <h3 class="panel-title"  align="center" >Nuevo Punto de Venta</h3>
     </div>
  <div class="panel-body">

    <div class="form-group"> 
      <div class="col-sm-10">
       <%= f.text_field :concesionaria_id, :class => "hidden" %>
      </div> </br> 
     </div>
     </br></br> 
  
    <div class="form-group">
      <label class="col-sm-4 control-label">Nombre del punto de venta</label>  
      <div class="col-sm-10">
      <%= f.text_field :nombre %>
      </div> </br> 
    </div>
    </br> </br> 

    <div class="form-group">
      <label class="col-sm-4 control-label">Domicilio P. Venta</label>  
      <div class="col-sm-10">
       <%= f.text_field :domicilio , :style=>"width:50%" %>
      </div> </br> 
    </div>
    </br></br> 

    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-10">
      <%= f.submit class: "btn btn-primary" ,value: "Guardar"%>
      </div>
    </div></br> 
    </br> 
    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-10">
       <%= link_to punto_venta_path, class: 'btn btn-primary' do %>
       <%= fa_icon "plus", text: "Atras" %>
       <% end %>
        <% end %>
        </br> 
  </div>


