<%= form_for(punto_ventum) do |f| %>
  <% if punto_ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(punto_ventum.errors.count, "error") %> prohibited this punto_ventum from being saved:</h2>

      <ul>
      <% punto_ventum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :domicilio %>
    <%= f.text_field :domicilio %>
  </div>

  <div class="field">
    <%= f.label :concesionaria_id %>
    <%= f.number_field :concesionaria_id %>
  </div>

  <div class="field">
    <%= f.label :persona_id %>
    <%= f.number_field :persona_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
