
	<style type="text/css">
		.list_line_even {
		  background: #73C8F6;
		}
		.list_line_odd {
		  background: #FFF;
		}
	</style>
	
	<% if (current_user.has_role? :concesionaria) || (current_user.has_role? :admin) || (current_user.has_role? :punto_venta) %>
	

		<div class="col-xs-12 row"  style="">
			<div class="center-block" style="width: 550px;">
				<div class="form-inline" style="margin-top: 25px;margin-bottom: 25px;">
					<% label_tag "Seleccione año", nil,  :class => "control-label" %>
		    	<%= select_tag :input_anio, options_for_select([['2018', 2018],['2017', 2017], ['2016', 2016], ['2015', 2015], ['2014', 2014], ['2013', 2013], ['2012', 2012], ['2011', 2011], ['2010', 2010], ['2009', 2009], ['2008', 2008], ['2007', 2007], ['2006', 2006], ['2005', 2005], ['2003', 2003], ['2002', 2002], ['2001', 2001], ['2000', 2000], ['1999', 1999], ['1998', 1998], ['1997', 1997], ['1996', 1996], ['1995', 1995], ['1994', 1994], ['1993', 1993]], selected: :option ), {:prompt => "Seleccionar Año",  :id => "anio" }%> 
		    	<% label_tag "Seleccione mes", nil,  :class => "control-label" %>
		    	<%= select_tag :input_mes, options_for_select([['Enero', 1],['Febrero', 2], ['Marzo', 3], ['Abril', 4], ['Mayo', 5], ['Junio', 6], ['Julio', 7], ['Agosto', 8], ['Septiembre', 9], ['Octubre', 10], ['Noviembre', 11], ['Diciembre', 12]], 0,), {:prompt => "Seleccionar Mes", :id => "mes" }%> 
		    	<% label_tag "Seleccione semana", nil,  :class => "control-label" %>
		    	<%= select_tag :input_semana, options_for_select([[1, 1],[2, 2], [3, 3], [4, 4], [5, 5]], 0,), {:prompt => "Seleccionar Semana",  :id => "semana" }%> 
		    	<input id="btn-ir" class="btn btn-primary" type="submit" value="Ir">
		   		</div>
	   		</div>
	   		
	  	</div> 
	<%end%>
     

	<%
	@dias = CargaDiarium.obtenerDiasSemana(@anio,@mes,@semana)
    %>


	<div class="col-xs-12 row">
		<div class="col-xs-2">
    	<%=image_tag @concesionarium.logo.url(:thumb), :class=>"img-fluid", :style=>"width: 100px; max-height:100px;"%>
    	</div>
		<%I18n.locale = :es%>
		<%fechaSeleccionada = Date.new(@anio,@mes,1) %>
		<%@hoy = I18n.l(fechaSeleccionada.to_time, format: "%B %Y")%>
		<br>
		<div class="col-xs-8">
			<h1 class="text-center"><%=@hoy%></h1>
		</div>
		<% if (current_user.has_role? :concesionaria) || (current_user.has_role? :admin) %>
	    	<div class="col-xs-2">
				<button type="button" id="boton" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-star"> Ranking</span></button>
	    	</div>
    	<% end %>
	</div>
	<div class="col-xs-12 row">
		<div class="col-xs-6">
		<table class="table table-bordered thead-dark table-condensed table-left">
		  <thead>
  			<tr>

  			  <th class="visible-sm visible-xs" rowspan="2" style="font-size: 10px;">Pos.</th>
  			  <th class="hidden-sm hidden-xs" rowspan="2" style="font-size: 10px;">Posición</th>
  			  <th class="visible-sm visible-xs" rowspan="2" style="font-size: 10px;">Ven.</th>
  			  <th class="hidden-sm hidden-xs" rowspan="2" style="font-size: 10px;">Vendedor</th>
		      <th colspan="3" class="" >Ventas</th>
		      <th colspan="3" class="">Créditos</th>
		      <th class="">CSI</th>
		      
  			</tr>
	      <tr>
	        <th class="visible-xs" style="font-size: 8px;">Res.</th>
	        <th class="hidden-xs">Reserva</th>
		    <th class="visible-xs"  style="font-size: 8px;">Meta</th>
		    <th class="hidden-xs">Meta</th>
		    <th>%</th>
		    <th class="visible-xs"  style="font-size: 8px;">Soli.</th>
		    <th class="hidden-xs">Solicitados</th>
		    <th class="visible-xs"  style="font-size: 8px;">Meta</th>
		    <th class="hidden-xs">Meta</th>
		    <th>%</th>
		    <th>%</th>
	      </tr>
  		</thead>
		  <tbody>
		  	<%@posicion = 1%>
		  	<% @rankingVendedores.each do |v|%>
		    <tr class= "<%= cycle('list_line_odd', 'list_line_even') -%>">
		      <td><%=@posicion%>º</td>
		      <% @nombre=v.numero %>
		      <td><%=@nombre%></td>
		      <td><%=CargaDiarium.SumaObMensualVendedor(@anio,@mes,v,"VENTAS")%></td>
		      <td><%=CargaDiarium.obtenerMetaObMensual(@anio,@mes,v,"VENTAS")%></td>
		      <td><%=CargaDiarium.calculoPorcentajeObVendedor(@anio,@mes,v,"VENTAS")%>%</td>
		      <td><%=CargaDiarium.SumaObMensualVendedor(@anio,@mes,v,"FINANCIACIONES")%></td>
		      <td><%=CargaDiarium.obtenerMetaObMensual(@anio,@mes,v,"FINANCIACIONES")%></td>
		      <td><%=CargaDiarium.calculoPorcentajeObVendedor(@anio,@mes,v,"FINANCIACIONES")%>%</td>
		      <td><%=CargaDiarium.obtenerCSIVendedor(@anio,@mes,v)%>%</td>
		      <%@posicion += 1%>
		    </tr>
		    <%end%>
		  </tbody>
	   	<tfoot>
		    <tr>
		      <th colspan="2">Total</th>
		      <th><%=CargaDiarium.obtenerReservasEquipo(@anio,@mes,@vendedores,"VENTAS")%></th>
		      <th><%=CargaDiarium.obtenerVentaPuntoVenta(@anio,@mes,@punto_venta,"VENTAS")%></th>
			  <th><%=CargaDiarium.calculoPorcentajeObEquipo(@anio,@mes,@vendedores,"VENTAS",@punto_venta)%>%</th>
		      <th><%=CargaDiarium.obtenerReservasEquipo(@anio,@mes,@vendedores,"FINANCIACIONES")%></th>
		      <th><%=CargaDiarium.obtenerVentaPuntoVenta(@anio,@mes,@punto_venta,"FINANCIACIONES")%></th>
		      <th><%=CargaDiarium.calculoPorcentajeObEquipo(@anio,@mes,@vendedores,"FINANCIACIONES",@punto_venta)%>%</th>
		      <th><%=CargaDiarium.obtenerCSIEquipo(@anio,@mes,@punto_venta)%>%</th>
		    </tr>


		    <tr>
		      <th colspan="2" style="height: 31px;">Avance Mes</th>
		      <th style="height: 31px;"><%=CargaDiarium.calculoDeAvancePorcentual(@anio,@mes)%>%</th>
		    </tr>
		  </tfoot>
		</table>
		</div>
		<div class="col-xs-6">
		<table class="col-xs-6 table table-bordered thead-dark table-condensed" style="padding-left: 20px;">
	  	<thead>
				<tr>
					<th class="visible-xs visible-sm" colspan="5">Act. Semanal</th>
					<th class="hidden-xs hidden-sm" colspan="5">Actividad Semanal</th>
		      <th colspan="7">Actividad Diaria</th>
		      <th class="visible-xs" rowspan="2" style="font-size: 10px;">C. de Ventas</th>
		      <th class="hidden-xs" rowspan="2" style="font-size: 10px;">Compromiso de Ventas</th>
				</tr>
	      <tr>
	        <th>S1</th>
		      <th>S2</th>
		      <th>S3</th>
		      <th>S4</th>
		      <th>S5</th>
		      <th>L</th>
		      <th>M</th>
		      <th>M</th>
		      <th>J</th>
		      <th>V</th>
		      <th>S</th>
		      <th>D</th>
	      </tr>
			</thead>
	  	<tbody>
				<% @vendedores.each do |v|%>
		    <tr class= "<%= cycle('list_line_odd', 'list_line_odd', 'list_line_odd', 'list_line_even','list_line_even','list_line_even') -%>">
		    	<% if @arr_semana.include? 1 
		    	@dias1 = CargaDiarium.obtenerDiasSemana(@anio,@mes,1)%>
		      	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"OPORTUNIDADES",@dias1)%></td>
		    	<%else%>
		   	  	<td></td>
		    	<%end%>
		    	<% if @arr_semana.include? 2 
		    	@dias2 = CargaDiarium.obtenerDiasSemana(@anio,@mes,2)%>
		      	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"OPORTUNIDADES",@dias2)%></td>
		    	<%else%>
		   	  	<td></td>
		    	<%end%>
		    	<% if @arr_semana.include? 3 
		    	@dias3 = CargaDiarium.obtenerDiasSemana(@anio,@mes,3)%>
		      	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"OPORTUNIDADES",@dias3)%></td>
		    	<%else%>
		   	  	<td></td>
		    	<%end%>
		    	<% if @arr_semana.include? 4 
		    	@dias4 = CargaDiarium.obtenerDiasSemana(@anio,@mes,4)%>
			 	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"OPORTUNIDADES",@dias4)%></td>
		    	<%else%>
		   	  	<td></td>
		    	<%end%>
		    	<% if @arr_semana.include? 5  
		    	@dias5 = CargaDiarium.obtenerDiasSemana(@anio,@mes,5)%>
		      	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"OPORTUNIDADES",@dias5)%></td>
		    	<%else%>
		   	  	<td></td>
		    	<%end%>	
		    
		      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"OPORTUNIDADES","L",@dias)%></td>
		      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"OPORTUNIDADES","Ma",@dias)%></td>
		      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"OPORTUNIDADES","Mi",@dias)%></td>
		      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"OPORTUNIDADES","J",@dias)%></td>
		      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"OPORTUNIDADES","V",@dias)%></td>
		      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"OPORTUNIDADES","S",@dias)%></td>
		      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"OPORTUNIDADES","D",@dias)%></td>
		      <td rowspan="3" style="text-align: center;vertical-align: middle; background:white"><%=CargaDiarium.obtenerCompromisoDeVentas(@anio,@mes,@semana,v)%></td>
		      
		    </tr>
		    <tr class= "<%= cycle('list_line_odd', 'list_line_odd', 'list_line_odd', 'list_line_even','list_line_even','list_line_even') -%>">
		    	<% if @arr_semana.include? 1 
		    	@dias6 = CargaDiarium.obtenerDiasSemana(@anio,@mes,1)%>
		      	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"PRUEBA DE MANEJO",@dias6)%></td>
		    	<%else%>
		   	  	<td></td>
		    	<%end%>
		    	<% if @arr_semana.include? 2
		    	@dias7 = CargaDiarium.obtenerDiasSemana(@anio,@mes,2)%>
		      	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"PRUEBA DE MANEJO",@dias7)%></td>
		    	<%else%>
		   	  	<td></td>
		    	<%end%>
		    	<% if @arr_semana.include? 3
		    	@dias8 = CargaDiarium.obtenerDiasSemana(@anio,@mes,3)%>
		      	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"PRUEBA DE MANEJO",@dias8)%></td>
		    	<%else%>
		   	  	<td></td>
		    	<%end%>
		    	<% if @arr_semana.include? 4
		    	@dias9 = CargaDiarium.obtenerDiasSemana(@anio,@mes,4)%>
			 	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"PRUEBA DE MANEJO",@dias9)%></td>
	    		<%else%>
		   	  	<td></td>
		    	<%end%>
		    	<% if @arr_semana.include? 5
		    	@dias10 = CargaDiarium.obtenerDiasSemana(@anio,@mes,5)%>
		      	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"PRUEBA DE MANEJO",@dias10)%></td>
		    	<%else%>
		   	  	<td></td>
		    	<%end%>	
		      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"PRUEBA DE MANEJO","L",@dias)%></td>
		      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"PRUEBA DE MANEJO","Ma",@dias)%></td>
		      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"PRUEBA DE MANEJO","Mi",@dias)%></td>
		      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"PRUEBA DE MANEJO","J",@dias)%></td>
		      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"PRUEBA DE MANEJO","V",@dias)%></td>
		      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"PRUEBA DE MANEJO","S",@dias)%></td>
		      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"PRUEBA DE MANEJO","D",@dias)%></td>
		      
		    </tr>
		    <tr class= "<%= cycle('list_line_odd', 'list_line_odd', 'list_line_odd', 'list_line_even','list_line_even','list_line_even') -%>">
	    		<% if @arr_semana.include? 1 
	    		@dias12 = CargaDiarium.obtenerDiasSemana(@anio,@mes,1)%>
		      	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"VENTAS",@dias12)%></td>
		    	<%else%>
		   	  	<td></td>
		    	<%end%>
		    	<% if @arr_semana.include? 2
		    	@dias13 = CargaDiarium.obtenerDiasSemana(@anio,@mes,2)%>
		      	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"VENTAS",@dias13)%></td>
		    	<%else%>
		   	  	<td></td>
		    	<%end%>
		    	<% if @arr_semana.include? 3
		    	@dias14 = CargaDiarium.obtenerDiasSemana(@anio,@mes,3)%>
		      	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"VENTAS",@dias14)%></td>
		    	<%else%>
		   	  	<td></td>
		    	<%end%>
		    	<% if @arr_semana.include? 4
		    	@dias15 = CargaDiarium.obtenerDiasSemana(@anio,@mes,4)%>
			 	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"VENTAS",@dias15)%></td>
		    	<%else%>
		   	  	<td></td>
		    	<%end%>
		    	<% if @arr_semana.include? 5
		    	@dias16 = CargaDiarium.obtenerDiasSemana(@anio,@mes,5)%>
		      	<td><%=CargaDiarium.sumaCantSemVenOb(@anio,@mes,v,"VENTAS",@dias16)%></td>
		    	<%else%>
		   	  	<td></td>
		    	<%end%>	
			      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"VENTAS","L",@dias)%></td>
			      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"VENTAS","Ma",@dias)%></td>
			      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"VENTAS","Mi",@dias)%></td>
			      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"VENTAS","J",@dias)%></td>
			      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"VENTAS","V",@dias)%></td>
			      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"VENTAS","S",@dias)%></td>
			      <td><%=CargaDiarium.cargaVendedorporDia(@anio,@mes,v,"VENTAS","D",@dias)%></td>

		    </tr>
		    <%end%>
		  </tbody>
	   	<tfoot>
		    <tr>
		      <% if @arr_semana.include? 1
		    	@dias17 = CargaDiarium.obtenerDiasSemana(@anio,@mes,1)%>	
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"OPORTUNIDADES",@dias17)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <% if  @arr_semana.include? 2
		    	@dias18 = CargaDiarium.obtenerDiasSemana(@anio,@mes,2)%>		
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"OPORTUNIDADES",@dias18)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <% if @arr_semana.include? 3
		    	@dias19 = CargaDiarium.obtenerDiasSemana(@anio,@mes,3)%>		
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"OPORTUNIDADES",@dias19)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <% if @arr_semana.include? 4
		    	@dias20 = CargaDiarium.obtenerDiasSemana(@anio,@mes,4)%>		
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"OPORTUNIDADES",@dias20)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <% if @arr_semana.include? 5
		    	@dias21 = CargaDiarium.obtenerDiasSemana(@anio,@mes,5)%>		
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"OPORTUNIDADES",@dias21)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"OPORTUNIDADES","L",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"OPORTUNIDADES","Ma",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"OPORTUNIDADES","Mi",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"OPORTUNIDADES","J",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"OPORTUNIDADES","V",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"OPORTUNIDADES","S",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"OPORTUNIDADES","D",@dias)%></th>
		      <th rowspan="3" style="text-align: center;vertical-align: middle;"><%=CargaDiarium.obtenerCompromisoDeVentasPromedio(@anio,@mes,@semana,@vendedores)%></th>
		    </tr>
		    <tr>
		     <% if @arr_semana.include? 1
		    	@dias22 = CargaDiarium.obtenerDiasSemana(@anio,@mes,1)%>	
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"PRUEBA DE MANEJO",@dias22)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <% if @arr_semana.include? 2
		    	@dias23 = CargaDiarium.obtenerDiasSemana(@anio,@mes,2)%>	
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"PRUEBA DE MANEJO",@dias23)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <% if  @arr_semana.include? 3
		    	@dias24 = CargaDiarium.obtenerDiasSemana(@anio,@mes,3)%>	
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"PRUEBA DE MANEJO",@dias24)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <% if  @arr_semana.include? 4
		    	@dias25 = CargaDiarium.obtenerDiasSemana(@anio,@mes,4)%>
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"PRUEBA DE MANEJO",@dias25)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <% if  @arr_semana.include? 5
		    	@dias26 = CargaDiarium.obtenerDiasSemana(@anio,@mes,5)%>	
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"PRUEBA DE MANEJO",@dias26)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"PRUEBA DE MANEJO","L",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"PRUEBA DE MANEJO","Ma",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"PRUEBA DE MANEJO","Mi",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"PRUEBA DE MANEJO","J",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"PRUEBA DE MANEJO","V",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"PRUEBA DE MANEJO","S",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"PRUEBA DE MANEJO","D",@dias)%></th>
		      
		    </tr>
		    <tr>
		      <% if  @arr_semana.include? 1
		    	@dias27 = CargaDiarium.obtenerDiasSemana(@anio,@mes,1)%>	
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"VENTAS",@dias27)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <% if  @arr_semana.include? 2
		    	@dias28 = CargaDiarium.obtenerDiasSemana(@anio,@mes,2)%>
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"VENTAS",@dias28)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <% if  @arr_semana.include? 3
		    	@dias29 = CargaDiarium.obtenerDiasSemana(@anio,@mes,3)%>	
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"VENTAS",@dias29)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <% if  @arr_semana.include? 4
		    	@dias30 = CargaDiarium.obtenerDiasSemana(@anio,@mes,4)%>
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"VENTAS",@dias30)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <% if  @arr_semana.include? 5
		    	@dias31 = CargaDiarium.obtenerDiasSemana(@anio,@mes,5)%>
		      	<th><%=CargaDiarium.sumaCantSem(@anio,@mes,@vendedores,"VENTAS",@dias31)%></th>
		      <%else%>
		      	<th>0</th>
		      <%end%>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"VENTAS","L",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"VENTAS","Ma",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"VENTAS","Mi",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"VENTAS","J",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"VENTAS","V",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"VENTAS","S",@dias)%></th>
		      <th><%=CargaDiarium.cargaVendedoresPorDia(@anio,@mes,@vendedores,"VENTAS","D",@dias)%></th>
		      
		    </tr>
		    <tr>
		      <th><%=CargaDiarium.obtenerObjPuntoVentaSemanal(@anio,@mes,@punto_venta,1)%></th>
		      <th><%=CargaDiarium.obtenerObjPuntoVentaSemanal(@anio,@mes,@punto_venta,2)%></th>
		      <th><%=CargaDiarium.obtenerObjPuntoVentaSemanal(@anio,@mes,@punto_venta,3)%></th>
		      <th><%=CargaDiarium.obtenerObjPuntoVentaSemanal(@anio,@mes,@punto_venta,4)%></th>
		      <th><%=CargaDiarium.obtenerObjPuntoVentaSemanal(@anio,@mes,@punto_venta,5)%></th>
		    </tr>
		  </tfoot>
		</table>
		</div>
	</div>
	


<script type="text/javascript">

	$( "#boton" ).click( function() {
		anio = $("#anio").val();
	    mes = $("#mes").val();
	  $.ajax({
          url: '/punto_venta/ranking/?anio='+anio+'&mes='+mes,
          type: 'POST',
        })
      .done(function(data) {
      	document.location.reload();
      })
  });

	
	$.urlParam = function(name){
		var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
		if (results == null){
			return 0;
		}else{
			return results[1] || 0;
		}
	}
	if ($.urlParam('anio') != 0 ){
		  var anio = $.urlParam('anio');
		  var mes = $.urlParam('mes');
		  var semana = $.urlParam('semana');
		  $("#anio").val(anio);
		  $("#mes").val(mes);
		  $("#semana").val(semana);
		}
	
		
  $('#btn-ir').click(function(){


  	if (($("#anio").val() != "") && ($("#mes").val() != "") && ($("#semana").val() != "")){
  		if (($("#anio").val() != "") && ($("#mes").val() == "2") && ($("#semana").val() == "5")){
  			alert("Elija opciones válidas");
  		}else{

	    anio = $("#anio").val();
	    mes = $("#mes").val();
	    semana = $("#semana").val();
	    window.location = '/dashboard?anio='+anio+'&mes='+mes+'&semana='+semana;
    	}
    }else{		
		alert("Elija opciones válidas");
	}

  });
</script>

<% if current_user.has_role? :dashboard %>
	<script>setTimeout('document.location.reload()', 10000); </script>
<% end %>

