<p id="notice"><%= notice %></p>

<h1>Punto Venta</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Domicilio</th>
      <th>Concesionaria</th>
      <th>Persona</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @punto_venta.each do |punto_ventum| %>
      <tr>
        <td><%= punto_ventum.nombre %></td>
        <td><%= punto_ventum.domicilio %></td>
        <td><%= punto_ventum.concesionaria_id %></td>
        <td><%= punto_ventum.persona_id %></td>
        <td><%= link_to 'Show', punto_ventum %></td>
        <td><%= link_to 'Edit', edit_punto_ventum_path(punto_ventum) %></td>
        <td><%= link_to 'Destroy', punto_ventum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Punto Ventum', new_punto_ventum_path %>
