<p id="notice"><%= notice %></p>

<div class="page-header">

<dl class="dl-horizontal">
  <dt>Nombre:</dt>
  <dd><%= @punto_ventum.nombre %></dd>
  <dt><strong>Domicilio:</strong></dt>
  <dd><%= @punto_ventum.domicilio %></dd>
  <dt>Concesionaria:</dt>
  <% Concesionarium.where(:id => @punto_ventum.concesionaria_id).each do |r| %>
  <% @conc = r.nombre  %>
  <dd><%= @conc %></dd>
  <% end %>
  <% if current_user.concesionaria? %>
  <h4>Usuarios administradores</h4>
  <% PersonaPuntoVentum.where(punto_venta_id: @punto_ventum.id).each do |ppv|%>
    <p>
      <strong>Persona:</strong>
      <%= ppv.persona %>
    </p>
    <p><td><%= link_to 'Destroy', ppv, method: :delete, data: { confirm: 'Seguro que desea eliminarlo?' } %></td>
    </p>
  <% end %>
<% end %>
  <br/><br/>
  <%= link_to punto_ventum_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_punto_ventum_path(@punto_ventum), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to punto_ventum_path(@punto_ventum), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
