<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @punto_ventum.nombre %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @punto_ventum.domicilio %>
</p>

<p>
  <strong>Concesionaria:</strong>
  <%= @punto_ventum.concesionaria_id %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @punto_ventum.persona_id %>
</p>

<%= link_to 'Edit', edit_punto_ventum_path(@punto_ventum) %> |
<%= link_to 'Back', punto_venta_path %>

<div class="page-header">

<dl class="dl-horizontal">
  <dt>Nombre:</dt>
  <dd><%= @punto_ventum.nombre %></dd>
  <dt><strong>Domicilio:</strong></dt>
  <dd><%= @punto_ventum.domicilio %></dd>
  <dt>Concesionaria:</dt>
  <% Concesionarium.where(:id => @punto_ventum.concesionaria_id).each do |r| %>
  <% @conc = r.nombre  %>
  <dd><%= @conc %></dd>
  <% end %>
  <dt><strong>Persona:</strong></dt>
  <dd><%= @punto_ventum.persona_id  %></dd>
  <br/><br/>
  <%= link_to punto_ventum_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_punto_ventum_path(@objetivo_mensual), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to punto_ventum_path(@punto_ventum), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
