<div class="col-sm-12" style="margin-top: 15px;">
  <div class="content-box h-100">

    <div class="page-header">
      <center>
        <h2 style="text-align: center;font-weight: 600;"><%= @punto_ventum.nombre %></h2>
      </center> 
      <% if current_user.admin? %>
      <%= link_to punto_venta_path, class: 'btn btn-default btn-header-page' do %>
        <span class="fa fa-chevron-left"></span>
        Volver
      <% end %>
      <%= link_to edit_punto_ventum_path(@punto_ventum), class: 'btn btn-primary btn-header-page' do %>
        <span class="fa fa-pencil"></span>
        Editar
      <% end %>    
      <%= link_to punto_ventum_path(@punto_ventum), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger btn-header-page' do%>
        <span class="fa fa-trash"></span>
        Eliminar
      <% end %>
    <% end %>
    </div>

    <h4>Datos del Punto de Venta</h4>
    <p style="margin-left: 15px;">
      <strong>Domicilio:</strong>
      <%= @punto_ventum.domicilio %>
    </p>

    <p style="margin-left: 15px;">
      <strong>Concesionaria:</strong>
      <%= @punto_ventum.concesionaria.nombre %>
    </p>
   
     
    <% if current_user.concesionaria? %>
      <h4>Agregar usuario Punto de Venta <%= link_to fa_icon("plus"), new_persona_punto_ventum_path(punto_venta: @punto_ventum.id), style: "margin-left: 5px;" %></h4>
      <% PersonaPuntoVentum.where(punto_venta_id: @punto_ventum.id).each do |ppv|%>
        <p style="margin-left: 15px;">
          <strong><%=fa_icon("user")%></strong>
          <%= ppv.persona %>|| Usuario: <%= ppv.persona.user.email %><%= link_to fa_icon("undo"), persona_cambiar_contrasenia_path(ppv.persona), :style=>"margin-left:15px;" %><%= link_to fa_icon("trash"), ppv, method: :delete, data: { confirm: 'Seguro que desea eliminarlo?'}, :style=>"margin-left:15px;" %> 
          <%if ppv.persona.vendedors == [] %>| Convertir a vendedor <%= link_to fa_icon("check"), vendedor_cambiar_rol_path(persona: ppv.persona), :style=>"margin-left:15px;" %>
          <%else %>
            Es vendedor
          <% end %>
        </p>
      <% end %>
    <% end %>

    
  </div>  
</div>