<%= form_for persona_punto_ventum, html: { class: "form-horizontal", role: "form" } do |f| %>
  <% if persona_punto_ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(persona_punto_ventum.errors.count, "error") %></h2>

      <ul>
      <% persona_punto_ventum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"  align="center">Usuario del punto de venta</h3>
      <h3 class="panel-title"  align="center"><%= PuntoVentum.find(persona_punto_ventum.punto_venta_id) %></h3>
    </div>
   <br/>
   <div class="form-group">
      <label class="col-sm-2 control-label">Buscar persona</label> 
      <div class="col-sm-2">
        <div class="form-group">
        <div class="select-Persona">
         <%=f.collection_select :persona_id, Persona.all, :id, :to_s_comp, {prompt: true}, {:class => "form-control select"} %>     
         </div>
        </div>
      </div>
    </div>

    <div id = "datos_persona" class="form-group hide">
      <label class="col-sm-2 control-label">Agente:</label> 
      <div class="col-sm-2">
        <div class="form-group">
          <%= label_tag 'nombre_persona', nil, id: "nombre_persona", class: "control-label" %>
        </div>
      </div>
      <label class="col-sm-2 control-label">Correo:</label> 
      <div class="col-sm-2">
        <div class="form-group">
          <%= label_tag 'email_persona', nil, id: "email_persona", class: "control-label" %>
        </div>
      </div>
      <label class="col-sm-2 control-label">Contraseña:</label> 
      <div class="col-sm-2">
        <div class="form-group">
          <%= label_tag 'contra_persona', nil, id: "contra_persona", class: "control-label" %>
        </div>
      </div>
    </div>
    <div  id = "crear_persona" class="form-group">
      <label class="col-sm-2 control-label">Sin resultados</label> 
      <%= link_to new_persona_punto_venta_path(punto_venta: persona_punto_ventum.punto_venta_id), class: "btn-default btn" do %>
        <%= fa_icon "plus", text: "Agregar" %>
      <% end %>
    </div>

    <div class="field">
      <%= f.hidden_field :punto_venta_id %>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit class: "btn btn-primary" ,value: "Guardar" %>
          <%= link_to persona_punto_ventum.punto_venta, class: 'btn btn-primary' do %>
            <%= fa_icon "arrow-left", text: "Atras" %>
          <% end %>
        </div>
    </div>
  </div>
<% end %>
