<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-ergos" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%=image_tag("logoErgos2.png")%></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ergos">
      
    
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="nav-item btn-group" data-behavior="notifications" data-notifications='<%= render template: "notifications/index", formats: [:json] %>'>
            <a class="dropdown-toggle nav-link" type="button" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= fa_icon "bell" %> <span data-behavior="unread-count"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items" style="width:900%">
              <!--
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              -->
            </div>
          </li>
          <li><%= link_to current_user.email, edit_user_registration_path %></li>
          <li><%= link_to (fa_icon "sign-out", text: "Salir"), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to (fa_icon "sign-in", text: "Entrar"), new_user_session_path %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to ("Concesionaria: " + current_user.concesionaria.to_s),  current_user.concesionaria%></li>
          <li><%= link_to ("Punto de venta: " + current_user.punto_venta.to_s),  current_user.punto_venta%></li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>  






