<!DOCTYPE html>
<html>
  <head>
    <title>Ergos</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    "bootstrap-editable" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>


  <body class="<%= controller_name %> <%= action_name %> <%= 'bg_gray' if @bg_gray %>">
  
    <%= render "layouts/navbar"%>
    <%= render "layouts/sidebar"%>

    <% if !current_user.nil? && current_user.concesionaria? %>
      
      <% if !@sidebar.nil? %>
        <% if @sidebar == true %>
        <div class="admin-container row" style="margin-left: 0px;margin-right: 0px;">
        <% else %>
        <div class="container">
        <% end %>
      <% else %>
        <div class="admin-container row" style="margin-left: 0px;margin-right: 0px;">
      <% end %>

    <% else %>
        <div class="container">
    <% end %>
        <%= bootstrap_flash %>
        <%= yield %>
        </div>
    <% if !@footer.nil? %>
        <% if @footer == true %>
          <%= render "layouts/footer"%>
        <% end %>
    <% else %>
      <%= render "layouts/footer"%>
    <% end %>
  </body>
  <script type="text/javascript">
    $('document').ready(function() { 
      $('select').select2({
        theme: "bootstrap",
        language: "es"
      }); 
    });
  </script>
</html>






